<!-- ////////////// HEADER ////////////// -->
header
	nav.navbar.navbar-light.navbar-expand-xxl
		a.navbar-brand(href="/") 
			svg(version="1.1", id="Layer_1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", viewBox="0 0 40 40", style="enable-background:new 0 0 40 40;", xml:space="preserve")
				path(d="M28.7,7.3L28.7,7.3l-13.1,9.4c-1.8,1.3-2,3.7-0.9,5.3c0,0,0,0,0,0.1l0.1,0c0.4,0.5,0.8,0.9,1.4,1.1l0,0l1.9,0.9L11.3,29V4.7c0-2.9-3.3-4.6-5.7-2.9v31.3v0c0,2.9,3.3,4.6,5.7,2.9l13.1-9.4l0,0c1.8-1.3,2-3.7,0.9-5.3c0,0,0,0,0-0.1l-0.1,0c-0.4-0.5-0.8-0.9-1.4-1.1l-1.9-0.9l6.8-4.9v24.2h0c2.6,1.2,5.7-0.7,5.7-3.6V10.2v0C34.4,7.3,31,5.6,28.7,7.3z")

		//- Đây là nút sẽ hiển thị trong mobile
		button.navbar-toggler.menu(type="button" data-bs-toggle="offcanvas" data-bs-target="#fullStackMenu" aria-controls="fullStackMenu" aria-expanded="false" aria-label="Toggle navigation")
			svg(viewBox="0 0 64 48")
				path(d="M19,15 L45,15 C70,15 58,-2 49.0177126,7 L19,37")
				path(d="M19,24 L45,24 C61.2371586,24 57,49 41,33 L32,24")
				path(d="M45,33 L19,33 C-8,33 6,-2 22,14 L45,37")
		#fullStackMenu.offcanvas.offcanvas-end
			//- Thuộc tính '.mr-auto' này sẽ đẩy me nu về bên phải 
			.offcanvas-header
				h5(class="offcanvas-title" id="offcanvasNavbarLabel") MENU
				button(type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close")
			.offcanvas-body
				ul.navbar-nav.text-num
					li.nav-item
						a.nav-link(href="/#top-page") Nguyen Pham
					li.nav-item
						a.nav-link(href="/#about-us") About Me
					li.nav-item
						a.nav-link(href="/#services") Services
					li.nav-item
						a.nav-link(href="/#details") Features
					li.nav-item
						a.nav-link(href="/#portfolio") Creations
					li.nav-item
						a.nav-link(href="/gallery.html") Gallery
					li.nav-item.d-grid
						a.btn.btn-call-to-action.btn-block(href="https://baonguyenyam.github.io/cv" target="_blank") Résume
					li.nav-item.d-grid
						a.btn.btn-call-to-action.btn-block(href="/data/Resume_full.pdf" target="_blank") PDF CV
				.img.my-4.pt-5
					img.img-fluid(src="/img/chuky-1.png")
<!-- ////////////// HEADER ////////////// -->
