.item.col-sm-6.col-md-4.col-lg-3.col-xxxl-2
	a(href="/img/projects/titras/03.png" data-fancybox="project-other")
		figure
			.blockimg.box-shadow
				img(src="/img/thumb/titras/03.png", alt="", srcset="")
			figcaption
.item.col-sm-6.col-md-4.col-lg-3.col-xxxl-2
	a(href="/img/projects/other/rauma.png" data-fancybox="project-other")
		figure
			.blockimg.box-shadow
				img(src="/img/thumb/other/rauma.png", alt="", srcset="")
			figcaption
.item.col-sm-6.col-md-4.col-lg-3.col-xxxl-2
	a(href="/img/projects/titras/01.png" data-fancybox="project-other")
		figure
			.blockimg.box-shadow
				img(src="/img/thumb/titras/01.png", alt="", srcset="")
			figcaption
.item.col-sm-6.col-md-4.col-lg-3.col-xxxl-2
	a(href="/img/projects/other/label1.jpg" data-fancybox="project-other")
		figure
			.blockimg.box-shadow
				img(src="/img/thumb/other/label1.jpg", alt="", srcset="")
			figcaption
.item.col-sm-6.col-md-4.col-lg-3.col-xxxl-2
	a(href="/img/projects/other/label3.jpg" data-fancybox="project-other")
		figure
			.blockimg.box-shadow
				img(src="/img/thumb/other/label3.jpg", alt="", srcset="")
			figcaption
.item.col-sm-6.col-md-4.col-lg-3.col-xxxl-2
	a(href="/img/projects/other/mockup.jpg" data-fancybox="project-other")
		figure
			.blockimg.box-shadow
				img(src="/img/thumb/other/mockup.jpg", alt="", srcset="")
			figcaption
.item.col-sm-6.col-md-4.col-lg-3.col-xxxl-2
	a(href="/img/projects/other/space.png" data-fancybox="project-other")
		figure
			.blockimg.box-shadow
				img(src="/img/thumb/other/space.png", alt="", srcset="")
			figcaption
.item.col-sm-6.col-md-4.col-lg-3.col-xxxl-2
	a(href="/img/projects/other/label2.jpg" data-fancybox="project-other")
		figure
			.blockimg.box-shadow
				img(src="/img/thumb/other/label2.jpg", alt="", srcset="")
			figcaption
.item.col-sm-6.col-md-4.col-lg-3.col-xxxl-2
	a(href="/img/projects/other/tshirt.png" data-fancybox="project-other")
		figure
			.blockimg.box-shadow
				img(src="/img/thumb/other/tshirt.png", alt="", srcset="")
			figcaption
.item.col-sm-6.col-md-4.col-lg-3.col-xxxl-2
	a(href="/img/projects/other/class-square-2.jpg" data-fancybox="project-other")
		figure
			.blockimg.box-shadow
				img(src="/img/thumb/other/class-square-2.jpg", alt="", srcset="")
			figcaption
.item.col-sm-6.col-md-4.col-lg-3.col-xxxl-2
	a(href="/img/projects/label/label-5.jpg" data-fancybox="project-other")
		figure
			.blockimg.box-shadow
				img(src="/img/thumb/label/label-5.jpg", alt="", srcset="")
			figcaption
.item.col-sm-6.col-md-4.col-lg-3.col-xxxl-2
	a(href="/img/projects/label/label-4.jpg" data-fancybox="project-other")
		figure
			.blockimg.box-shadow
				img(src="/img/thumb/label/label-4.jpg", alt="", srcset="")
			figcaption
.item.col-sm-6.col-md-4.col-lg-3.col-xxxl-2
	a(href="/img/projects/other/class-square.jpg" data-fancybox="project-other")
		figure
			.blockimg.box-shadow
				img(src="/img/thumb/other/class-square.jpg", alt="", srcset="")
			figcaption
.item.col-sm-6.col-md-4.col-lg-3.col-xxxl-2
	a(href="/img/projects/label/bottle-3.jpg" data-fancybox="project-other")
		figure
			.blockimg.box-shadow
				img(src="/img/thumb/label/bottle-3.jpg", alt="", srcset="")
			figcaption
.item.col-sm-6.col-md-4.col-lg-3.col-xxxl-2
	a(href="/img/projects/other/contest.png" data-fancybox="project-other")
		figure
			.blockimg.box-shadow
				img(src="/img/thumb/other/contest.png", alt="", srcset="")
			figcaption
.item.col-sm-6.col-md-4.col-lg-3.col-xxxl-2
	a(href="/img/projects/other/backdrop.jpg" data-fancybox="project-other")
		figure
			.blockimg.box-shadow
				img(src="/img/thumb/other/backdrop.jpg", alt="", srcset="")
			figcaption
.item.col-sm-6.col-md-4.col-lg-3.col-xxxl-2
	a(href="/img/projects/label/label-2.jpg" data-fancybox="project-other")
		figure
			.blockimg.box-shadow
				img(src="/img/thumb/label/label-2.jpg", alt="", srcset="")
			figcaption
.item.col-sm-6.col-md-4.col-lg-3.col-xxxl-2
	a(href="/img/projects/iofinal/004.png" data-fancybox="project-other")
		figure
			.blockimg.box-shadow
				img(src="/img/thumb/iofinal/004.png", alt="", srcset="")
			figcaption