extends _layout/layout

block variables
	- var title = 'Nguyen Pham '
	- var description = 'I live in the United States and am a professional creator and web designer. I love beauty, so I strive to create products that are careful, beautiful, and full of intricate features.'
	- var bodyclass = 'home'
	- var href = "/index.html"

block body
	
	section.home-news#portfolio
		.container-fluid
			.row
				.col.text-center 
					h2
						span MY 
						| 
						em.text-sen Gallery
					h3.text-num This is what I create.
					.liner.center
			.mt-4.allitems.row
				.item.col-sm-6.col-md-4.col-lg-3.col-xxxl-2
					a(href="/img/projects/titras/03.png" data-fancybox="project-titras")
						figure
							.blockimg.box-shadow
								img(src="/img/thumb/titras/03.png", alt="", srcset="")
							figcaption
								h4 TITRAS
					.d-none 
						a(href="/img/projects/titras/02.png" data-fancybox="project-titras")
						a(href="/img/projects/titras/01.png" data-fancybox="project-titras")
				.item.col-sm-6.col-md-4.col-lg-3.col-xxxl-2
					a(href="/img/projects/madelab/02.png" data-fancybox="project-madelab")
						figure
							.blockimg.box-shadow
								img(src="/img/thumb/madelab/02.png", alt="", srcset="")
							figcaption
								h4 MADELAB
					.d-none 
						a(href="/img/projects/madelab/00.png" data-fancybox="project-madelab")
						a(href="/img/projects/madelab/01.png" data-fancybox="project-madelab")
						a(href="/img/projects/madelab/03.png" data-fancybox="project-madelab")
						a(href="/img/projects/madelab/04.png" data-fancybox="project-madelab")
						a(href="/img/projects/madelab/05.png" data-fancybox="project-madelab")
						a(href="/img/projects/madelab/06.png" data-fancybox="project-madelab")
						a(href="/img/projects/madelab/07.png" data-fancybox="project-madelab")
				.item.col-sm-6.col-md-4.col-lg-3.col-xxxl-2
					a(href="/img/projects/other/label3.jpg" data-fancybox="project-label")
						figure
							.blockimg.box-shadow
								img(src="/img/thumb/other/label3.jpg", alt="", srcset="")
							figcaption
								h4 V Label
					.d-none 
						a(href="/img/projects/other/label2.jpg" data-fancybox="project-label")
						a(href="/img/projects/other/label1.jpg" data-fancybox="project-label")
						a(href="/img/projects/other/mockup.jpg" data-fancybox="project-label")
				.item.col-sm-6.col-md-4.col-lg-3.col-xxxl-2
					a(href="/img/projects/other/tshirt.png" data-fancybox="project-label")
						figure
							.blockimg.box-shadow
								img(src="/img/thumb/other/tshirt.png", alt="", srcset="")
							figcaption
								h4 V Label
					.d-none 
						a(href="/img/projects/other/space.png" data-fancybox="project-label")
				.item.col-sm-6.col-md-4.col-lg-3.col-xxxl-2
					a(href="/img/projects/other/class-square.jpg" data-fancybox="project-label")
						figure
							.blockimg.box-shadow
								img(src="/img/thumb/other/class-square.jpg", alt="", srcset="")
							figcaption
								h4 V Label
					.d-none 
						a(href="/img/projects/other/class-square-2.jpg" data-fancybox="project-label")
						a(href="/img/projects/other/contest.png" data-fancybox="project-label")
						a(href="/img/projects/other/backdrop.jpg" data-fancybox="project-label")
						a(href="/img/projects/other/sale.jpg" data-fancybox="project-label")
				.item.col-sm-6.col-md-4.col-lg-3.col-xxxl-2
					a(href="/img/projects/label/label-1.jpg" data-fancybox="project-label")
						figure
							.blockimg.box-shadow
								img(src="/img/thumb/label/label-1.jpg", alt="", srcset="")
							figcaption
								h4 V Label
					.d-none 
						a(href="/img/projects/label/label-2.jpg" data-fancybox="project-label")
						a(href="/img/projects/label/label-3.jpg" data-fancybox="project-label")
						a(href="/img/projects/label/label-4.jpg" data-fancybox="project-label")
						a(href="/img/projects/label/label-5.jpg" data-fancybox="project-label")
						a(href="/img/projects/label/bottle-1.png" data-fancybox="project-label")
						a(href="/img/projects/label/bottle-2.png" data-fancybox="project-label")
						a(href="/img/projects/label/bottle-3.jpg" data-fancybox="project-label")
						a(href="/img/projects/label/backdrop.jpg" data-fancybox="project-label")
				.item.col-sm-6.col-md-4.col-lg-3.col-xxxl-2
					a(href="/img/projects/iofinal/004.png" data-fancybox="project-iofinal")
						figure
							.blockimg.box-shadow
								img(src="/img/thumb/iofinal/004.png", alt="", srcset="")
							figcaption
								h4 IO Final
					.d-none 
						a(href="/img/projects/iofinal/000.png" data-fancybox="project-iofinal")
						a(href="/img/projects/iofinal/001.png" data-fancybox="project-iofinal")
						a(href="/img/projects/iofinal/002.png" data-fancybox="project-iofinal")
						a(href="/img/projects/iofinal/003.png" data-fancybox="project-iofinal")
						a(href="/img/projects/iofinal/005.png" data-fancybox="project-iofinal")
						a(href="/img/projects/iofinal/006.png" data-fancybox="project-iofinal")
						a(href="/img/projects/iofinal/007.png" data-fancybox="project-iofinal")
						a(href="/img/projects/iofinal/008.png" data-fancybox="project-iofinal")
						a(href="/img/projects/iofinal/009.png" data-fancybox="project-iofinal")
						a(href="/img/projects/iofinal/010.png" data-fancybox="project-iofinal")
				.item.col-sm-6.col-md-4.col-lg-3.col-xxxl-2
					a(href="/img/projects/american/img-04.png" data-fancybox="project-american")
						figure
							.blockimg.box-shadow
								img(src="/img/thumb/american/img-04.png", alt="", srcset="")
							figcaption
								h4 American Standard
					.d-none 
						a(href="/img/projects/american/k-01.png" data-fancybox="project-american")
						a(href="/img/projects/american/k-02.png" data-fancybox="project-american")
						a(href="/img/projects/american/k-03.png" data-fancybox="project-american")
						a(href="/img/projects/american/k-05.png" data-fancybox="project-american")
						a(href="/img/projects/american/certificate.jpg" data-fancybox="project-american")
				.item.col-sm-6.col-md-4.col-lg-3.col-xxxl-2
					a(href="/img/projects/inventory/2022-03-08_094724.jpg" data-fancybox="project-inventory")
						figure
							.blockimg.box-shadow
								img(src="/img/thumb/inventory/2022-03-08_094724.jpg", alt="", srcset="")
							figcaption
								h4 Inventory System
					.d-none 
						a(href="/img/projects/inventory/2022-03-08_094659.jpg" data-fancybox="project-inventory")
						a(href="/img/projects/inventory/2022-03-08_094614.jpg" data-fancybox="project-inventory")
						a(href="/img/projects/inventory/2022-03-08_094542.jpg" data-fancybox="project-inventory")
						a(href="/img/projects/inventory/2022-03-08_091251.jpg" data-fancybox="project-inventory")
				.item.col-sm-6.col-md-4.col-lg-3.col-xxxl-2
					a(href="/img/projects/buddhalight/006.jpg" data-fancybox="project-buddhalight")
						figure
							.blockimg.box-shadow
								img(src="/img/thumb/buddhalight/006.jpg", alt="", srcset="")
							figcaption
								h4 Buddha Light
					.d-none 
						a(href="/img/projects/buddhalight/007.jpg" data-fancybox="project-buddhalight")
						a(href="/img/projects/buddhalight/008.jpg" data-fancybox="project-buddhalight")
						a(href="/img/projects/buddhalight/009.jpg" data-fancybox="project-buddhalight")
						a(href="/img/projects/buddhalight/001.jpg" data-fancybox="project-buddhalight")
						a(href="/img/projects/buddhalight/002.jpg" data-fancybox="project-buddhalight")
						a(href="/img/projects/buddhalight/003.jpg" data-fancybox="project-buddhalight")
						a(href="/img/projects/buddhalight/004.jpg" data-fancybox="project-buddhalight")
						a(href="/img/projects/buddhalight/005.jpg" data-fancybox="project-buddhalight")
				.item.col-sm-6.col-md-4.col-lg-3.col-xxxl-2
					a(href="/img/projects/weilion/001.jpg" data-fancybox="project-weilion")
						figure
							.blockimg.box-shadow
								img(src="/img/thumb/weilion/001.jpg", alt="", srcset="")
							figcaption
								h4 Weilion Space
					.d-none 
						a(href="/img/projects/weilion/002.jpg" data-fancybox="project-weilion")
						a(href="/img/projects/weilion/003.jpg" data-fancybox="project-weilion")
						a(href="/img/projects/weilion/004.jpg" data-fancybox="project-weilion")
						a(href="/img/projects/weilion/005.jpg" data-fancybox="project-weilion")
						a(href="/img/projects/weilion/006.jpg" data-fancybox="project-weilion")
				
				.item.col-sm-6.col-md-4.col-lg-3.col-xxxl-2
					a(href="/img/projects/lift/card.jpg" data-fancybox="project-lift")
						figure
							.blockimg.box-shadow
								img(src="/img/thumb/lift/card.jpg", alt="", srcset="")
							figcaption
								h4 LIFT Ideas
					.d-none 
						a(href="/img/projects/lift/brochure-1.png" data-fancybox="project-lift")
						a(href="/img/projects/lift/brochure-2.png" data-fancybox="project-lift")
						a(href="/img/projects/lift/brochure-3.png" data-fancybox="project-lift")
						a(href="/img/projects/lift/chair.jpg" data-fancybox="project-lift")
						a(href="/img/projects/lift/flyer.png" data-fancybox="project-lift")
						a(href="/img/projects/lift/light.jpg" data-fancybox="project-lift")
				.item.col-sm-6.col-md-4.col-lg-3.col-xxxl-2
					a(href="/img/projects/omegaflux/06.jpg" data-fancybox="project-omegaflux")
						figure
							.blockimg.box-shadow
								img(src="/img/thumb/omegaflux/06.jpg", alt="", srcset="")
							figcaption
								h4 Omega Flux
					.d-none 
						a(href="/img/projects/omegaflux/01.jpg" data-fancybox="project-omegaflux")
						a(href="/img/projects/omegaflux/02.jpg" data-fancybox="project-omegaflux")
						a(href="/img/projects/omegaflux/03.jpg" data-fancybox="project-omegaflux")
						a(href="/img/projects/omegaflux/04.jpg" data-fancybox="project-omegaflux")
						a(href="/img/projects/omegaflux/05.jpg" data-fancybox="project-omegaflux")
						a(href="/img/projects/omegaflux/07.jpg" data-fancybox="project-omegaflux")
						a(href="/img/projects/omegaflux/luoi.jpg" data-fancybox="project-omegaflux")
				.item.col-sm-6.col-md-4.col-lg-3.col-xxxl-2
					a(href="/img/projects/alphadelight/logo.jpg" data-fancybox="project-alphadelight")
						figure
							.blockimg.box-shadow
								img(src="/img/thumb/alphadelight/logo.jpg", alt="", srcset="")
							figcaption
								h4 Alpha Delight
					.d-none 
						a(href="/img/projects/alphadelight/001.jpg" data-fancybox="project-alphadelight")
						a(href="/img/projects/alphadelight/007.jpg" data-fancybox="project-alphadelight")
						a(href="/img/projects/alphadelight/008.jpg" data-fancybox="project-alphadelight")
						a(href="/img/projects/alphadelight/009.jpg" data-fancybox="project-alphadelight")
						a(href="/img/projects/alphadelight/010.jpg" data-fancybox="project-alphadelight")
				.item.col-sm-6.col-md-4.col-lg-3.col-xxxl-2
					a(href="/img/projects/onglesspaannie/001.png" data-fancybox="project-onglesspaannie")
						figure
							.blockimg.box-shadow
								img(src="/img/thumb/onglesspaannie/001.png", alt="", srcset="")
							figcaption
								h4 Ongles Spa Annie
					.d-none 
						a(href="/img/projects/onglesspaannie/002.jpg" data-fancybox="project-onglesspaannie")
						a(href="/img/projects/onglesspaannie/003.jpg" data-fancybox="project-onglesspaannie")
						a(href="/img/projects/onglesspaannie/004.jpg" data-fancybox="project-onglesspaannie")
						a(href="/img/projects/onglesspaannie/005.jpg" data-fancybox="project-onglesspaannie")
						a(href="/img/projects/onglesspaannie/006.jpg" data-fancybox="project-onglesspaannie")
				
				.item.col-sm-6.col-md-4.col-lg-3.col-xxxl-2
					a(href="/img/projects/doubledip/002.jpg" data-fancybox="project-doubledip")
						figure
							.blockimg.box-shadow
								img(src="/img/thumb/doubledip/002.jpg", alt="", srcset="")
							figcaption
								h4 Douple DIP
					.d-none 
						a(href="/img/projects/doubledip/001.jpg" data-fancybox="project-doubledip")
						a(href="/img/projects/doubledip/003.jpg" data-fancybox="project-doubledip")
				.item.col-sm-6.col-md-4.col-lg-3.col-xxxl-2
					a(href="/img/projects/seotool/003.png" data-fancybox="project-seotool")
						figure
							.blockimg.box-shadow
								img(src="/img/thumb/seotool/003.png", alt="", srcset="")
							figcaption
								h4 SEO Tools
					.d-none 
						a(href="/img/projects/seotool/001.png" data-fancybox="project-seotool")
						a(href="/img/projects/seotool/002.png" data-fancybox="project-seotool")
				.item.col-sm-6.col-md-4.col-lg-3.col-xxxl-2
					a(href="/img/projects/crawfish7/002.png" data-fancybox="project-crawfish7")
						figure
							.blockimg.box-shadow
								img(src="/img/thumb/crawfish7/002.png", alt="", srcset="")
							figcaption
								h4 Crawfish 7
					.d-none 
						a(href="/img/projects/crawfish7/001.jpg" data-fancybox="project-crawfish7")
				.item.col-sm-6.col-md-4.col-lg-3.col-xxxl-2
					a(href="/img/projects/d360/01.jpg" data-fancybox="project-d360")
						figure
							.blockimg.box-shadow
								img(src="/img/thumb/d360/01.jpg", alt="", srcset="")
							figcaption
								h4 D360
					.d-none 
						a(href="/img/projects/d360/02.jpg" data-fancybox="project-d360")
						a(href="/img/projects/d360/03.jpg" data-fancybox="project-d360")
						a(href="/img/projects/d360/04.jpg" data-fancybox="project-d360")
						a(href="/img/projects/d360/05.jpg" data-fancybox="project-d360")
				.item.col-sm-6.col-md-4.col-lg-3.col-xxxl-2
					a(href="/img/projects/dangnho/001.jpg" data-fancybox="project-dangnho")
						figure
							.blockimg.box-shadow
								img(src="/img/thumb/dangnho/001.jpg", alt="", srcset="")
							figcaption
								h4 Dang Nho Magazine
					.d-none 
						a(href="/img/projects/dangnho/002.jpg" data-fancybox="project-dangnho")
						a(href="/img/projects/dangnho/003.jpg" data-fancybox="project-dangnho")
						a(href="/img/projects/dangnho/004.jpg" data-fancybox="project-dangnho")
						a(href="/img/projects/dangnho/005.jpg" data-fancybox="project-dangnho")
						a(href="/img/projects/dangnho/006.jpg" data-fancybox="project-dangnho")
						a(href="/img/projects/dangnho/007.jpg" data-fancybox="project-dangnho")
						a(href="/img/projects/dangnho/008.jpg" data-fancybox="project-dangnho")
						a(href="/img/projects/dangnho/009.jpg" data-fancybox="project-dangnho")
						a(href="/img/projects/dangnho/010.jpg" data-fancybox="project-dangnho")
						a(href="/img/projects/dangnho/011.jpg" data-fancybox="project-dangnho")
						a(href="/img/projects/dangnho/012.png" data-fancybox="project-dangnho")
						a(href="/img/projects/dangnho/013.png" data-fancybox="project-dangnho")
						a(href="/img/projects/dangnho/014.jpg" data-fancybox="project-dangnho")
						a(href="/img/projects/dangnho/015.png" data-fancybox="project-dangnho")
						a(href="/img/projects/dangnho/016.png" data-fancybox="project-dangnho")
				.item.col-sm-6.col-md-4.col-lg-3.col-xxxl-2
					a(href="/img/projects/bellavenna/001.jpg" data-fancybox="project-bellavenna")
						figure
							.blockimg.box-shadow
								img(src="/img/thumb/bellavenna/001.jpg", alt="", srcset="")
							figcaption
								h4 Bella Venna
					.d-none 
						a(href="/img/projects/bellavenna/002.jpg" data-fancybox="project-bellavenna")
						a(href="/img/projects/bellavenna/003.jpg" data-fancybox="project-bellavenna")
						a(href="/img/projects/bellavenna/004.jpg" data-fancybox="project-bellavenna")
						a(href="/img/projects/bellavenna/005.jpg" data-fancybox="project-bellavenna")
				//- OTHER 
				.item.col-sm-6.col-md-4.col-lg-3.col-xxxl-2
					a(href="/img/projects/other/01.png" data-fancybox="project-other")
						figure
							.blockimg.box-shadow
								img(src="/img/thumb/other/01.png", alt="", srcset="")
							figcaption
								h4 Rao Vat US
				.item.col-sm-6.col-md-4.col-lg-3.col-xxxl-2
					a(href="/img/projects/other/02.png" data-fancybox="project-other")
						figure
							.blockimg.box-shadow
								img(src="/img/thumb/other/02.png", alt="", srcset="")
							figcaption
								h4 Ca Dao
				.item.col-sm-6.col-md-4.col-lg-3.col-xxxl-2
					a(href="/img/projects/other/03.jpg" data-fancybox="project-other")
						figure
							.blockimg.box-shadow
								img(src="/img/thumb/other/03.jpg", alt="", srcset="")
							figcaption
								h4 Thuan Chay
				.item.col-sm-6.col-md-4.col-lg-3.col-xxxl-2
					a(href="/img/projects/other/04.jpg" data-fancybox="project-other")
						figure
							.blockimg.box-shadow
								img(src="/img/thumb/other/04.jpg", alt="", srcset="")
							figcaption
								h4 VLS
				.item.col-sm-6.col-md-4.col-lg-3.col-xxxl-2
					a(href="/img/projects/other/05.jpg" data-fancybox="project-other")
						figure
							.blockimg.box-shadow
								img(src="/img/thumb/other/05.jpg", alt="", srcset="")
							figcaption
								h4 Restaurant
				.item.col-sm-6.col-md-4.col-lg-3.col-xxxl-2
					a(href="/img/projects/other/06.png" data-fancybox="project-other")
						figure
							.blockimg.box-shadow
								img(src="/img/thumb/other/06.png", alt="", srcset="")
							figcaption
								h4 Viet A
				.item.col-sm-6.col-md-4.col-lg-3.col-xxxl-2
					a(href="/img/projects/other/07.jpg" data-fancybox="project-other")
						figure
							.blockimg.box-shadow
								img(src="/img/thumb/other/07.jpg", alt="", srcset="")
							figcaption
								h4 Shop
				.item.col-sm-6.col-md-4.col-lg-3.col-xxxl-2
					a(href="/img/projects/other/08.jpg" data-fancybox="project-other")
						figure
							.blockimg.box-shadow
								img(src="/img/thumb/other/08.jpg", alt="", srcset="")
							figcaption
								h4 Cobra
				.item.col-sm-6.col-md-4.col-lg-3.col-xxxl-2
					a(href="/img/projects/other/rauma.png" data-fancybox="project-other")
						figure
							.blockimg.box-shadow
								img(src="/img/thumb/other/rauma.png", alt="", srcset="")
							figcaption
								h4 RauMa


	//- section.home-clients
		.container-fluid
			.row 
				.col.text-center 
					h2
						em.text-main Our 
						| 
						b.text-sen Clients
					h3.text-muted This is what we make.
					.liner.liner-sen.center
			.row
				.col
					.owl-carousel.owl-theme
						- for(x=1;x<10;x++)
							.item
								if (x < 7)
									img(src="/img/clients_"+x+".png", alt="")
								else
									img(src="/img/clients_"+(x-3)+".png", alt="")
	