extends _layout/layout

block variables
	- var title = 'Nguyen Pham '
	- var description = 'I live in the United States and am a professional creator and web designer. I love beauty, so I strive to create products that are careful, beautiful, and full of intricate features.'
	- var href = "/index.html"

block body
	section.section-fullwidth
		//- #particles-js
		.background-slider
		//- .video-inner
			video.video-bg(preload='auto' loop='' autoplay='' muted='' playsinline='')
				source(type='video/mp4' src='/img/bg-7.mp4')
				source(type='video/webm' src='/img/bg-7.webm')
			noscript
				video.video-bg(preload='auto' loop autoplay muted playsinline)
					source(src='/img/bg-7.mp4' type='video/mp4')
					source(src='/img/bg-7.webm' type='video/webm')
		.welcomeblock
			//- h1 EMPIRE 360
			h1
				span NGUYEN 
					em P.
				span NGUYEN 
					em P.
				span NGUYEN 
					em P.
		.welcomeblock_sec
			h2 Brand Designer and Web Developer
		
		h3.text-rotate.text-rotate-create Creations
		h3.text-rotate.text-rotate-marketing Marketing 
		h3.text-rotate.text-rotate-website website
		a.linkdown(href='#portfolio')
			span(class='link__arrow')
				span
				span
			span(class='link__line')
			span(class='link__text') Projects

	section.section-services#about-us
		.background-slider
		.container-fluid
			.row.align-items-center
				.col-lg-12
					.flit-animation.delay-0s(data-animation="fadeInUp")
						h2.mt-0
							span.text-main.text-text.font-weight-normal Nguyen Pham
							| , an 
							| 
							span.tricker 
								em.text-sen.active experienced creator
						h3.text-num Create Everything Great
						.liner
			.row.align-items-center
				.col-xxxl-6.order-xl-2
					.flit-animation.faster(data-animation="fadeInUp")
						h4.text-muted Hi there! I'm Nguyen Pham
						p I live in the United States and am a 
							span.highlight professional creative 
							| and 
							span.highlight professional web developer. 
							| I love beauty, so I strive to create products that are careful, beautiful, and full of intricate features.
					//- p.mb-3.flit-animation.fast(data-animation="fadeInUp") 
						a.btn.btn-call-to-action.mb-2.me-3.text-num(href="https://baonguyenyam.github.io/cv" target="_blank") Hồ sơ cá nhân
						a.btn.btn-call-to-action.mb-2.text-num(href="/data/Resume_full.pdf" target="_blank") Bản PDF
					h4.text-num What can I do for you?
					ul.list-group.mt-2
						li.list-group-item.d-flex.justify-content-between 
							span.me-3 Create Brand Identity
								strong 
									a.btn.btn-xs.text-num(href="/data/brandidentity.pdf" target="_blank") DEMO
							//- strong.text-main.text-right.text-num.text-nowrap ~ $800
						li.list-group-item.d-flex.justify-content-between 
							span.me-3 Build a Website/Shop Online
								strong 
									a.btn.btn-xs.text-num(href="https://baonguyenyam.github.io/demo/Crawfish7/" target="_blank") DEMO
							//- strong.text-main.text-right.text-num.text-nowrap ~ $1500 - $2500
						li.list-group-item.d-flex.justify-content-between 
							span.me-3 Build the Marketing Strategy
							//- strong.text-main.text-right.text-num.text-nowrap ~ $3000
						li.list-group-item.d-flex.justify-content-between 
							span.me-3 Build a system for your business
							//- strong.text-main.text-right.text-num.text-nowrap ~ $7000
						li.list-group-item.d-flex.justify-content-between 
							span.me-3 Build a inventory system
							//- strong.text-main.text-right.text-num.text-nowrap contact

				.col-xxxl-6.order-xl-1.mt-5.mt-xl-0.pr-xl-5
					.pr-xl-5.mb-5.mb-xxxl-0
						a(href="/img/brands.jpg" data-fancybox="images-flyer" data-caption="My caption")
							figure.mb-0
								img.img-fluid(src="/img/brands.jpg", alt="", srcset="") 
			
					
	section.section-plan#services
		.innetplan.px-3
			.container-fluid
				.row
					//- .col-xxxl-6
					.col-xl-12
						.d-flex.align-items-center
						h2 
							b.text-main What is
							| 
							| everything
							| 
							span.text-white.text-shadow I did?
						h3.mt-3.text-num Passion is all around me
						.liner
						h4 The best way to get things done is to do them very well when starting from the beginning
						//- .lead Trong mọi thương hiệu và sản phẩm mình tạo ra luôn có những câu chuyện đi cùng, bên cạnh đó là sự khác biệt về phong cách lẫn cảm xúc màu sắc, hay nói khác hơn là mình sẽ 
							span.text-main "đo ni đóng giày" 
							| cho quý vị. Nếu quý vị đang tìm kiếm một điều gì đó chất lượng, hãy liên lạc mình.
						.lead In each product I create, I try to make it unique and different from the rest. I will garment on the style, the color, and the feel of the product. IF you are looking for a great one, please contact me.
				//- .row.mt-5.pt-lg-5.pb-lg-5
					.col-md-6.col-xxxl-3.mb-4
						h3.d-flex.align-items-center.item
							//- img(src="/img/circle-4.png", alt="", srcset="")
							span.text-num Specials
						p Mình luôn tìm và sáng tạo sự độc đáo nhất cho quý vị.
					.col-md-6.col-xxxl-3.mb-4
						h3.d-flex.align-items-center.item
							//- //- img(src="/img/circle-4.png", alt="", srcset="")
							span.text-num Nhanh chóng
						p Mình luôn có những cách để tạo ra những website và thương hiệu hiệu quả nhất
					.col-md-6.col-xxxl-3.mb-4
						h3.d-flex.align-items-center.item
							//- //- img(src="/img/circle-4.png", alt="", srcset="")
							span.text-num Giá rẻ
						p Sự đam mê của mình luôn làm quý vị cảm thấy rất thú vị.
					.col-md-6.col-xxxl-3.mb-4
						h3.d-flex.align-items-center.item
							//- //- img(src="/img/circle-4.png", alt="", srcset="")
							span.text-num Chuyên nghiệp
						p Chỉ cần đưa yêu cầu, mọi sự mình sẽ sáng tạo cho quý vị.
				//- .row.mt-3
					.col-md-12
						p Mình có thể giúp quý vị xây dựng 1 thương hiệu từ Zero hoặc cải thiện lại thương hiệu hiện có của quý vị chuyên nghiệp hơn. Các công việc bao gồm từ sáng tạo Logo, slogan, chụp ảnh, quay video, viết phần mềm quản lý, thiết kế & xây dựng website.... cho đến việc viết nội dung, sửa lỗi chính tả và dịch thuật. Mình có đủ trình độ và chuyên môn cao để giúp quý vị xây dựng thương hiệu tốt nhất.
						p Mình có thể hướng dẫn quý vị tự tạo fanpage và quản lý cho thương hiệu của mình. Song song với việc tự vận hành online marketing một cách tiết kiệm và hiệu quả mà không cần phải thuê bất kỳ một công ty nào.
	section.home-details#details
		.container-fluid
			.row
				.col.text-center 
					h2
						span Features 
					h3.text-num My services
					.liner.center
			.row.align-items-center.mt-5
				.col-xxxl-6
					h3.mt-3.text-num Webiste 
					p I can build your website from zero or improve your existing website.
					ul.list-unstyled.mb-5
						li.list-item 
							i.fas.fa-check.me-2
							span FREE Logo Design 
						li.list-item 
							i.fas.fa-check.me-2
							span Build the Homepage, About Page, Services Page, Contact Page...
						li.list-item
							i.fas.fa-check.me-2
							span Help you get your domain name and hosting
						li.list-item ...
						
					h3.mt-3.text-num Branding
					p I can build your brand identity from zero or improve your existing brand identity.
					ul.list-unstyled
						li.list-item 
							i.fas.fa-check.me-2
							span Logo Design, T-Shirt Design, Brochure Design, Packaging Design...
						li.list-item
							i.fas.fa-check.me-2
							span Create your own brand rules, color, fonts, etc.
						li.list-item
							i.fas.fa-check.me-2
							span Create mockup for your brand identity
						li.list-item ...
					h3.mt-3.text-num Sevrers
					p I can build your website from zero or improve your existing website.
					ul.list-unstyled
						li.list-item 
							i.fas.fa-check.me-2
							span Build Cloud Server, Build Dedicated Server, Build VPS Server, Build Dedicated Server...
						li.list-item
							i.fas.fa-check.me-2
							span Build your own server GIT repository, Auto Deploy, Auto Backup, Auto Update...
						li.list-item ...	
					p.small.text-main.mb-5 

				.col-xxxl-6.mt-5.mt-xl-0.pl-xl-5
					.pl-xl-5
						a(href="/img/bg2.jpg" data-fancybox="images-flyer" data-caption="My caption")
							figure.mb-0
								img.img-fluid(src="/img/bg2.jpg", alt="", srcset="") 
	section.home-news#portfolio
		.container-fluid
			.row
				.col.text-center 
					h2
						span Recent 
						| 
						em.text-sen Design
					h3.text-num This is what I create.
					.liner.center
			.mt-4.allitems.row
				
				include _layout/new


			.row.mt-5
				.col.text-center 
					a.btn.btn-call-to-action.btn-block(href="/gallery.html") Our Gallery
	