extends _layout/layout

block variables
	- var title = 'Nguyen Pham '
	- var description = 'Mình có thể giúp quý vị xây dựng 1 thương hiệu từ Zero hoặc cải thiện lại thương hiệu hiện có của quý vị chuyên nghiệp hơn. Các công việc bao gồm từ sáng tạo Logo, slogan, chụp ảnh, quay video, viết phần mềm quản lý, thiết kế & xây dựng website.... cho đến việc viết nội dung, sửa lỗi chính tả và dịch thuật. Mình có đủ trình độ và chuyên môn cao để giúp quý vị xây dựng thương hiệu tốt nhất.'
	- var bodyclass = 'home'
	- var href = "/index.html"

block body
	section.section-fullwidth
		//- #particles-js
		.background-slider
		//- .video-inner
			video.video-bg(preload='auto' loop='' autoplay='' muted='' playsinline='')
				source(type='video/mp4' src='./img/bg-7.mp4')
				source(type='video/webm' src='./img/bg-7.webm')
			noscript
				video.video-bg(preload='auto' loop autoplay muted playsinline)
					source(src='./img/bg-7.mp4' type='video/mp4')
					source(src='./img/bg-7.webm' type='video/webm')
		.welcomeblock
			//- h1 EMPIRE 360
			h1
				span NGUYEN 
					em P.
				span NGUYEN 
					em P.
				span NGUYEN 
					em P.
		.welcomeblock_sec
			h2 Brand Designer and Web Developer
		
		h3.text-rotate.text-rotate-create Creations
		h3.text-rotate.text-rotate-marketing Marketing 
		h3.text-rotate.text-rotate-website website
		a.linkdown(href='#portfolio')
			span(class='link__arrow')
				span
				span
			span(class='link__line')
			span(class='link__text') Projects

	section.section-services#about-us
		.background-slider
		.container-fluid
			.row.align-items-center
				.col-lg-12
					.flit-animation.delay-0s(data-animation="fadeInUp")
						h2.mt-0
							span.text-main.text-text.font-weight-normal Nguyen Pham
							| , an 
							| 
							span.tricker 
								em.text-sen.active experienced creator
						h3.text-text Create Everything Great
						.liner
			.row.align-items-center
				.col-xl-6.order-xl-2
					.flit-animation.faster(data-animation="fadeInUp")
						h4.text-muted Chào mọi người! Mình là Nguyen Pham
						p Hiện đang sống tại Hoa Kỳ, mình là 
							span.highlight nhà sáng tạo
							| 
							| chuyên nghiệp và 
							span.highlight thiết kế web chuyên nghiệp. 
							| Mình yêu cái đẹp vì thế mọi sản phẩm mình tạo ra đều có sự chỉn chu đến từng chi tiết và đẹp mắt. Ngoài ra những website mình thiết kế cũng có đầy đủ những hiệu ứng và tính năng phức tạp. 
					p.mb-5.flit-animation.fast(data-animation="fadeInUp") 
						a.btn.btn-call-to-action.mr-3(href="https://baonguyenyam.github.io/cv" target="_blank") Hồ sơ cá nhân
						a.btn.btn-call-to-action(href="/data/Resume_full.pdf" target="_blank") Bản PDF
					h4 Một số mức giá tham khảo
					ul.list-group.mt-2
						li.list-group-item.d-flex.justify-content-between 
							span.mr-3 Thiết kế thương hiệu 
								strong 
									a.btn.btn-xs(href="/data/brandidentity.pdf" target="_blank") DEMO
							strong.text-main.text-right ~ $800
						li.list-group-item.d-flex.justify-content-between 
							span.mr-3 Xây dựng website/web bán hàng 
								strong 
									a.btn.btn-xs(href="https://baonguyenyam.github.io/demo/Crawfish7/" target="_blank") DEMO
							strong.text-main.text-right ~ $1500 - $2500
						li.list-group-item.d-flex.justify-content-between 
							span.mr-3 Xây dựng phần mềm quản lý bán hàng, booking...
							strong.text-main.text-right ~ $3000
						li.list-group-item.d-flex.justify-content-between 
							span.mr-3 Xây dựng phần mềm quản lý văn phòng luật sư, quản lý hồ sơ thuế, quản lý hồ sơ di trú...
							strong.text-main.text-right ~ $7000
						li.list-group-item.d-flex.justify-content-between 
							span.mr-3 Xây dựng phần mềm quản lý kho hàng (inventory system)
							strong.text-main.text-right contact

				.col-xl-6.order-xl-1.mt-5.mt-xl-0.pr-xl-5
					.pr-xl-5
						a(href="./img/brands.jpg" data-fancybox="images-flyer" data-caption="My caption")
							figure.mb-0
								img.img-fluid(src="./img/brands.jpg", alt="", srcset="") 
	section.section-plan#services
		.innetplan
			.container-fluid
				.row
					.col-lg-6
						.d-flex.align-items-center
						h2 
							b.text-main Những gì
							| 
							| mình
							| 
							span.text-white.text-shadow đã sáng tạo.
						h3.mt-3 Tất cả vì sự đam mê là chính yếu
						.liner
						h4 Cách nhanh nhất để thành công là chăm chút cho thương hiệu ngay từ những buổi đầu.
						.lead Trong mọi thương hiệu và sản phẩm mình tạo ra luôn có những câu chuyện đi cùng, bên cạnh đó là sự khác biệt về phong cách lẫn cảm xúc màu sắc, hay nói khác hơn là mình sẽ 
							span.text-main "đo ni đóng giày" 
							| cho quý vị. Nếu quý vị đang tìm kiếm một điều gì đó chất lượng, hãy liên lạc mình.
				.row.mt-5.pt-lg-5.pb-lg-5
					.col-md-6.col-xl-3.mb-4
						h3.d-flex.align-items-center.item
							//- img(src="./img/circle-4.png", alt="", srcset="")
							span Độc đáo
						p Mình luôn tìm và sáng tạo sự độc đáo nhất cho quý vị.
					.col-md-6.col-xl-3.mb-4
						h3.d-flex.align-items-center.item
							//- //- img(src="./img/circle-4.png", alt="", srcset="")
							span Nhanh chóng
						p Mình luôn có những cách để tạo ra những website và thương hiệu hiệu quả nhất
					.col-md-6.col-xl-3.mb-4
						h3.d-flex.align-items-center.item
							//- //- img(src="./img/circle-4.png", alt="", srcset="")
							span Giá rẻ
						p Sự đam mê của mình luôn làm quý vị cảm thấy rất thú vị.
					.col-md-6.col-xl-3.mb-4
						h3.d-flex.align-items-center.item
							//- //- img(src="./img/circle-4.png", alt="", srcset="")
							span Chuyên nghiệp
						p Chỉ cần đưa yêu cầu, mọi sự mình sẽ sáng tạo cho quý vị.
				.row.mt-3
					.col-md-12
						p Mình có thể giúp quý vị xây dựng 1 thương hiệu từ Zero hoặc cải thiện lại thương hiệu hiện có của quý vị chuyên nghiệp hơn. Các công việc bao gồm từ sáng tạo Logo, slogan, chụp ảnh, quay video, viết phần mềm quản lý, thiết kế & xây dựng website.... cho đến việc viết nội dung, sửa lỗi chính tả và dịch thuật. Mình có đủ trình độ và chuyên môn cao để giúp quý vị xây dựng thương hiệu tốt nhất.
						p Mình có thể hướng dẫn quý vị tự tạo fanpage và quản lý cho thương hiệu của mình. Song song với việc tự vận hành online marketing một cách tiết kiệm và hiệu quả mà không cần phải thuê bất kỳ một công ty nào.
	section.home-details#details
		.container-fluid
			.row
				.col.text-center 
					h2
						span Features 
					h3 Chi tiết các dịch vụ của mình
					.liner.center
			.row.align-items-center.mt-5
				.col-xl-6
					h3.mt-3 Về website 
					p Bao gồm các tính năng cơ bản như:
					ul.list-unstyled.mb-5
						li.list-item 
								i.fas.fa-check.mr-2
								span MIỄN PHÍ thiết kế 1 logo 
						li.list-item 
							i.fas.fa-check.mr-2
							span Xây dựng các trang web, trang nhà, trang báo giá dịch vụ, trang giới thiệu, trang liên lạc, trang menu...
						li.list-item
							i.fas.fa-check.mr-2
							span Miễn phí 1 domain + miễn phí nơi lưu trữ trong thời hạn 1 năm (hết thời hạn quý vị có thể gia hạn thêm)
						li.list-item
							i.fas.fa-check.mr-2
							span Đảm bảo sự an toàn và bảo mật cho website của quý vị
						li.list-item
							i.fas.fa-check.mr-2
							span Cung cấp một tài khoản email để quý vị tương tác với khách hàng
						li.list-item ...
					h3.mt-3 Về brand 
					p Bao gồm các tính năng cơ bản như:
					ul.list-unstyled
						li.list-item 
							i.fas.fa-check.mr-2
							span Thiết kế logo (x3), business card (x2), flyer (x1), poster (x1).
						li.list-item
							i.fas.fa-check.mr-2
							span Thiết kế bộ nhân dạng thương hiệu (brand identity), đưa ra các quy tắc phong cách, màu sắc và chính sách thương hiệu cho quý vị. 
						li.list-item
							i.fas.fa-check.mr-2
							span Tạo các bản mockup cho thương hiệu.
						li.list-item ...
					p.small.text-main Nếu quý vị muốn biết thêm thông tin, vui lòng để lại email hay lời nhắn. Chân thành cảm ơn!

				.col-xl-6.mt-5.mt-xl-0.pl-xl-5
					.pl-xl-5
						a(href="./img/bg2.jpg" data-fancybox="images-flyer" data-caption="My caption")
							figure.mb-0
								img.img-fluid(src="./img/bg2.jpg", alt="", srcset="") 
	section.home-news#portfolio
		.container-fluid
			.row
				.col.text-center 
					h2
						span MY 
						| 
						em.text-sen Creations
					h3 This is what I create.
					.liner.center
			.mt-4.allitems.row
				.mb-3.item.col-sm-6.col-md-4.col-lg-3.col-xl-2
					a(href="./img/projects/inventory/2022-03-08_094724.jpg" data-fancybox="project-inventory")
						figure
							.blockimg.box-shadow
								img(src="./img/projects/inventory/2022-03-08_094724.jpg", alt="", srcset="")
							figcaption
								h4 Inventory System
					.d-none 
						a(href="./img/projects/inventory/2022-03-08_094659.jpg" data-fancybox="project-inventory")
						a(href="./img/projects/inventory/2022-03-08_094614.jpg" data-fancybox="project-inventory")
						a(href="./img/projects/inventory/2022-03-08_094542.jpg" data-fancybox="project-inventory")
						a(href="./img/projects/inventory/2022-03-08_091251.jpg" data-fancybox="project-inventory")
				.mb-3.item.col-sm-6.col-md-4.col-lg-3.col-xl-2
					a(href="./img/projects/buddhalight/006.jpg" data-fancybox="project-buddhalight")
						figure
							.blockimg.box-shadow
								img(src="./img/projects/buddhalight/006.jpg", alt="", srcset="")
							figcaption
								h4 Buddha Light
					.d-none 
						a(href="./img/projects/buddhalight/007.jpg" data-fancybox="project-buddhalight")
						a(href="./img/projects/buddhalight/008.jpg" data-fancybox="project-buddhalight")
						a(href="./img/projects/buddhalight/009.jpg" data-fancybox="project-buddhalight")
						a(href="./img/projects/buddhalight/001.jpg" data-fancybox="project-buddhalight")
						a(href="./img/projects/buddhalight/002.jpg" data-fancybox="project-buddhalight")
						a(href="./img/projects/buddhalight/003.jpg" data-fancybox="project-buddhalight")
						a(href="./img/projects/buddhalight/004.jpg" data-fancybox="project-buddhalight")
						a(href="./img/projects/buddhalight/005.jpg" data-fancybox="project-buddhalight")
				.mb-3.item.col-sm-6.col-md-4.col-lg-3.col-xl-2
					a(href="./img/projects/weilion/001.jpg" data-fancybox="project-weilion")
						figure
							.blockimg.box-shadow
								img(src="./img/projects/weilion/001.jpg", alt="", srcset="")
							figcaption
								h4 Weilion Space
					.d-none 
						a(href="./img/projects/weilion/002.jpg" data-fancybox="project-weilion")
						a(href="./img/projects/weilion/003.jpg" data-fancybox="project-weilion")
						a(href="./img/projects/weilion/004.jpg" data-fancybox="project-weilion")
						a(href="./img/projects/weilion/005.jpg" data-fancybox="project-weilion")
						a(href="./img/projects/weilion/006.jpg" data-fancybox="project-weilion")
				
				.mb-3.item.col-sm-6.col-md-4.col-lg-3.col-xl-2
					a(href="./img/projects/lift/card.jpg" data-fancybox="project-lift")
						figure
							.blockimg.box-shadow
								img(src="./img/projects/lift/card.jpg", alt="", srcset="")
							figcaption
								h4 LIFT Ideas
					.d-none 
						a(href="./img/projects/lift/brochure-1.png" data-fancybox="project-lift")
						a(href="./img/projects/lift/brochure-2.png" data-fancybox="project-lift")
						a(href="./img/projects/lift/brochure-3.png" data-fancybox="project-lift")
						a(href="./img/projects/lift/chair.jpg" data-fancybox="project-lift")
						a(href="./img/projects/lift/flyer.png" data-fancybox="project-lift")
						a(href="./img/projects/lift/light.jpg" data-fancybox="project-lift")
				.mb-3.item.col-sm-6.col-md-4.col-lg-3.col-xl-2
					a(href="./img/projects/omegaflux/06.jpg" data-fancybox="project-omegaflux")
						figure
							.blockimg.box-shadow
								img(src="./img/projects/omegaflux/06.jpg", alt="", srcset="")
							figcaption
								h4 Omega Flux
					.d-none 
						a(href="./img/projects/omegaflux/01.jpg" data-fancybox="project-omegaflux")
						a(href="./img/projects/omegaflux/02.jpg" data-fancybox="project-omegaflux")
						a(href="./img/projects/omegaflux/03.jpg" data-fancybox="project-omegaflux")
						a(href="./img/projects/omegaflux/04.jpg" data-fancybox="project-omegaflux")
						a(href="./img/projects/omegaflux/05.jpg" data-fancybox="project-omegaflux")
						a(href="./img/projects/omegaflux/07.jpg" data-fancybox="project-omegaflux")
						a(href="./img/projects/omegaflux/luoi.jpg" data-fancybox="project-omegaflux")
				.mb-3.item.col-sm-6.col-md-4.col-lg-3.col-xl-2
					a(href="./img/projects/alphadelight/logo.jpg" data-fancybox="project-alphadelight")
						figure
							.blockimg.box-shadow
								img(src="./img/projects/alphadelight/logo.jpg", alt="", srcset="")
							figcaption
								h4 Alpha Delight
					.d-none 
						a(href="./img/projects/alphadelight/001.jpg" data-fancybox="project-alphadelight")
						a(href="./img/projects/alphadelight/007.jpg" data-fancybox="project-alphadelight")
						a(href="./img/projects/alphadelight/008.jpg" data-fancybox="project-alphadelight")
						a(href="./img/projects/alphadelight/009.jpg" data-fancybox="project-alphadelight")
						a(href="./img/projects/alphadelight/010.jpg" data-fancybox="project-alphadelight")
				.mb-3.item.col-sm-6.col-md-4.col-lg-3.col-xl-2
					a(href="./img/projects/onglesspaannie/001.png" data-fancybox="project-onglesspaannie")
						figure
							.blockimg.box-shadow
								img(src="./img/projects/onglesspaannie/001.png", alt="", srcset="")
							figcaption
								h4 Ongles Spa Annie
					.d-none 
						a(href="./img/projects/onglesspaannie/002.jpg" data-fancybox="project-onglesspaannie")
						a(href="./img/projects/onglesspaannie/003.jpg" data-fancybox="project-onglesspaannie")
						a(href="./img/projects/onglesspaannie/004.jpg" data-fancybox="project-onglesspaannie")
						a(href="./img/projects/onglesspaannie/005.jpg" data-fancybox="project-onglesspaannie")
						a(href="./img/projects/onglesspaannie/006.jpg" data-fancybox="project-onglesspaannie")
				
				.mb-3.item.col-sm-6.col-md-4.col-lg-3.col-xl-2
					a(href="./img/projects/doubledip/002.jpg" data-fancybox="project-doubledip")
						figure
							.blockimg.box-shadow
								img(src="./img/projects/doubledip/002.jpg", alt="", srcset="")
							figcaption
								h4 Douple DIP
					.d-none 
						a(href="./img/projects/doubledip/001.jpg" data-fancybox="project-doubledip")
						a(href="./img/projects/doubledip/003.jpg" data-fancybox="project-doubledip")
				.mb-3.item.col-sm-6.col-md-4.col-lg-3.col-xl-2
					a(href="./img/projects/seotool/003.png" data-fancybox="project-seotool")
						figure
							.blockimg.box-shadow
								img(src="./img/projects/seotool/003.png", alt="", srcset="")
							figcaption
								h4 SEO Tools
					.d-none 
						a(href="./img/projects/seotool/001.png" data-fancybox="project-seotool")
						a(href="./img/projects/seotool/002.png" data-fancybox="project-seotool")
				.mb-3.item.col-sm-6.col-md-4.col-lg-3.col-xl-2
					a(href="./img/projects/crawfish7/002.png" data-fancybox="project-crawfish7")
						figure
							.blockimg.box-shadow
								img(src="./img/projects/crawfish7/002.png", alt="", srcset="")
							figcaption
								h4 Crawfish 7
					.d-none 
						a(href="./img/projects/crawfish7/001.jpg" data-fancybox="project-crawfish7")
				.mb-3.item.col-sm-6.col-md-4.col-lg-3.col-xl-2
					a(href="./img/projects/d360/01.jpg" data-fancybox="project-d360")
						figure
							.blockimg.box-shadow
								img(src="./img/projects/d360/01.jpg", alt="", srcset="")
							figcaption
								h4 D360
					.d-none 
						a(href="./img/projects/d360/02.jpg" data-fancybox="project-d360")
						a(href="./img/projects/d360/03.jpg" data-fancybox="project-d360")
						a(href="./img/projects/d360/04.jpg" data-fancybox="project-d360")
						a(href="./img/projects/d360/05.jpg" data-fancybox="project-d360")
				.mb-3.item.col-sm-6.col-md-4.col-lg-3.col-xl-2
					a(href="./img/projects/dangnho/001.jpg" data-fancybox="project-dangnho")
						figure
							.blockimg.box-shadow
								img(src="./img/projects/dangnho/001.jpg", alt="", srcset="")
							figcaption
								h4 Dang Nho Magazine
					.d-none 
						a(href="./img/projects/dangnho/002.jpg" data-fancybox="project-dangnho")
						a(href="./img/projects/dangnho/003.jpg" data-fancybox="project-dangnho")
						a(href="./img/projects/dangnho/004.jpg" data-fancybox="project-dangnho")
						a(href="./img/projects/dangnho/005.jpg" data-fancybox="project-dangnho")
						a(href="./img/projects/dangnho/006.jpg" data-fancybox="project-dangnho")
						a(href="./img/projects/dangnho/007.jpg" data-fancybox="project-dangnho")
						a(href="./img/projects/dangnho/008.jpg" data-fancybox="project-dangnho")
						a(href="./img/projects/dangnho/009.jpg" data-fancybox="project-dangnho")
						a(href="./img/projects/dangnho/010.jpg" data-fancybox="project-dangnho")
						a(href="./img/projects/dangnho/011.jpg" data-fancybox="project-dangnho")
						a(href="./img/projects/dangnho/012.png" data-fancybox="project-dangnho")
						a(href="./img/projects/dangnho/013.png" data-fancybox="project-dangnho")
						a(href="./img/projects/dangnho/014.jpg" data-fancybox="project-dangnho")
						a(href="./img/projects/dangnho/015.png" data-fancybox="project-dangnho")
						a(href="./img/projects/dangnho/016.png" data-fancybox="project-dangnho")
				.mb-3.item.col-sm-6.col-md-4.col-lg-3.col-xl-2
					a(href="./img/projects/bellavenna/001.jpg" data-fancybox="project-bellavenna")
						figure
							.blockimg.box-shadow
								img(src="./img/projects/bellavenna/001.jpg", alt="", srcset="")
							figcaption
								h4 Bella Venna
					.d-none 
						a(href="./img/projects/bellavenna/002.jpg" data-fancybox="project-bellavenna")
						a(href="./img/projects/bellavenna/003.jpg" data-fancybox="project-bellavenna")
						a(href="./img/projects/bellavenna/004.jpg" data-fancybox="project-bellavenna")
						a(href="./img/projects/bellavenna/005.jpg" data-fancybox="project-bellavenna")
				//- OTHER 
				.mb-3.item.col-sm-6.col-md-4.col-lg-3.col-xl-2
					a(href="./img/projects/other/01.png" data-fancybox="project-other")
						figure
							.blockimg.box-shadow
								img(src="./img/projects/other/01.png", alt="", srcset="")
							figcaption
								h4 Rao Vat US
				.mb-3.item.col-sm-6.col-md-4.col-lg-3.col-xl-2
					a(href="./img/projects/other/02.png" data-fancybox="project-other")
						figure
							.blockimg.box-shadow
								img(src="./img/projects/other/02.png", alt="", srcset="")
							figcaption
								h4 Ca Dao
				.mb-3.item.col-sm-6.col-md-4.col-lg-3.col-xl-2
					a(href="./img/projects/other/03.jpg" data-fancybox="project-other")
						figure
							.blockimg.box-shadow
								img(src="./img/projects/other/03.jpg", alt="", srcset="")
							figcaption
								h4 Thuan Chay
				.mb-3.item.col-sm-6.col-md-4.col-lg-3.col-xl-2
					a(href="./img/projects/other/04.jpg" data-fancybox="project-other")
						figure
							.blockimg.box-shadow
								img(src="./img/projects/other/04.jpg", alt="", srcset="")
							figcaption
								h4 VLS
				.mb-3.item.col-sm-6.col-md-4.col-lg-3.col-xl-2
					a(href="./img/projects/other/05.jpg" data-fancybox="project-other")
						figure
							.blockimg.box-shadow
								img(src="./img/projects/other/05.jpg", alt="", srcset="")
							figcaption
								h4 Restaurant
				.mb-3.item.col-sm-6.col-md-4.col-lg-3.col-xl-2
					a(href="./img/projects/other/06.png" data-fancybox="project-other")
						figure
							.blockimg.box-shadow
								img(src="./img/projects/other/06.png", alt="", srcset="")
							figcaption
								h4 Viet A
				.mb-3.item.col-sm-6.col-md-4.col-lg-3.col-xl-2
					a(href="./img/projects/other/07.jpg" data-fancybox="project-other")
						figure
							.blockimg.box-shadow
								img(src="./img/projects/other/07.jpg", alt="", srcset="")
							figcaption
								h4 Shop
				.mb-3.item.col-sm-6.col-md-4.col-lg-3.col-xl-2
					a(href="./img/projects/other/08.jpg" data-fancybox="project-other")
						figure
							.blockimg.box-shadow
								img(src="./img/projects/other/08.jpg", alt="", srcset="")
							figcaption
								h4 Cobra
	
	//- section.home-clients
		.container-fluid
			.row 
				.col.text-center 
					h2
						em.text-main Our 
						| 
						b.text-sen Clients
					h3.text-muted This is what we make.
					.liner.liner-sen.center
			.row
				.col
					.owl-carousel.owl-theme
						- for(x=1;x<10;x++)
							.item
								if (x < 7)
									img(src="./img/clients_"+x+".png", alt="")
								else
									img(src="./img/clients_"+(x-3)+".png", alt="")
	