extends _layout/layout

block variables
	- var title = 'Nguyen Pham Resume'
	- var description = 'Tôi là Bảo Nguyên hiện là Full-Stack Developer tại nhiều công ty Nhật, USA, Singapore... Tôi cũng là giảng viên tại FPT. Tôi có hơn 8 năm làm việc trên Single Page Applications (SPA), ứng dụng mobile và website. Tôi có nhiều kinh nghiệm về Design, HTML, SASS, PUG, Ionic, Angular, NodeJS, several version control systems... là tác giả của nhiều sản phẩm phần mềm IT tại VN.'
	- var bodyclass = 'home'
	- var href = "/index.html"

block body
	section.section-fullwidth
		#particles-js
		.background-slider
		.video-inner
			video.video-bg(preload='auto' loop='' autoplay='' muted='' playsinline='')
				source(type='video/mp4' src='./img/smoke.mp4')
				source(type='video/webm' src='./img/smoke.webm')
			noscript
				video.video-bg(preload='auto' loop autoplay muted playsinline)
					source(src='./img/smoke.mp4' type='video/mp4')
					source(src='./img/smoke.webm' type='video/webm')
		.imgp 
			svg
				symbol#s-text
					text.d-none.d-lg-block(text-anchor='middle' x='50%' y='80%') NGUYEN PHAM
					text.d-lg-none(text-anchor='middle' x='50%' y='80%') NP
					//- text.d-xl-none(text-anchor='middle' x='50%' y='80%') Creations
				g.g-ants
					use.text-copy(xlink:href='#s-text')
					use.text-copy(xlink:href='#s-text')
					use.text-copy(xlink:href='#s-text')
					use.text-copy(xlink:href='#s-text')
					use.text-copy(xlink:href='#s-text')
		figure
			//- img.d-md-none(src="./img/agency-m.png", alt="", srcset="")
			//- img.d-none.d-md-inline-block(src="./img/agency.png", alt="", srcset="")
			figcaption
				h1.mt-0.anim-text-flow Website Designers and Web Developers
				h2 Dallas Website Design | Dallas Web Development | Dallas Web Designers | Dallas Web Designer | Dallas Web Design
			.qrcode 
				a(href="./img/qr.png" data-fancybox="images-qr" data-caption="QR Code")
					img(src="./img/qr.png", alt="")
		h3.text-rotate.text-rotate-create Creations
		h3.text-rotate.text-rotate-marketing Marketing 
		h3.text-rotate.text-rotate-website website
		//- a.linkdown(href='#portfolio')
			span(class='link__arrow')
				span
				span
			span(class='link__line')
			span(class='link__text') Projects
