/////////////////////////////////
// INDEX
/////////////////////////////////
.index-fullwidth
	.section-fullwidth
		overflow: hidden
		height: 100vh
		width: 100vw
		display: flex
		justify-content: center
		align-items: center
		height: 100vh
		width: 100%
		position: relative
		display: flex
		flex-direction: column
		&:after 
			background: rgb(45,56,141)
			background: -moz-linear-gradient(320deg, rgba(45,56,141,1) 33%, rgba(238,62,150,1) 100%)
			background: -webkit-linear-gradient(320deg, rgba(45,56,141,1) 33%, rgba(238,62,150,1) 100%)
			background: linear-gradient(320deg, rgba(45,56,141,1) 33%, rgba(238,62,150,1) 100%)
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2d388d",endColorstr="#ee3e96",GradientType=1)
			display: block
			content: ''
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			z-index: -3
		.background-slider
			overflow: hidden
			height: 100vh
			width: 100vw
			display: flex
			justify-content: center
			align-items: center
			height: 100vh
			width: 100%
			position: absolute
			&:before 
				display: block
				content: ''
				position: absolute
				top: 0
				left: 0
				width: 100%
				height: 100%
				animation: fadeMe1 10s ease-in-out infinite
				z-index: -2
				mix-blend-mode: saturation
			// &:after 
			// 	background: $main
			// 	background: -moz-linear-gradient(320deg, $main 33%,$link 100%)
			// 	background: -webkit-linear-gradient(320deg, $main 33%,$link 100%)
			// 	background: linear-gradient(320deg, $main 33%,$link 100%)
			// 	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#{$main}",endColorstr="#{$link}",GradientType=1)
			// 	display: block
			// 	content: ''
			// 	position: absolute
			// 	top: 0
			// 	left: 0
			// 	width: 100%
			// 	height: 100%
			// 	animation: fadeMe 35s ease-in-out infinite
			// 	z-index: -1
			// 	mix-blend-mode: saturation
		&:before
			display: block
			content: ''
			position: absolute
			// z-index: -1
			background: rgba(0,0,0,.3)
			top: 15px
			left: 15px
			width: calc(100% - 30px)
			height: calc(100% - 30px)
			+media-breakpoint-up(sm)
				top: 50px
				left: 50px
				width: calc(100% - 100px)
				height: calc(100% - 100px)
		.video-inner 
			width: 100%
			height: 100%
			position: absolute
			top: 0
			left: 0
			overflow: hidden
			// z-index: -2
			opacity: .3
			filter: grayscale(1)
			-webkit-touch-callout: none
			-webkit-user-select: none
			-khtml-user-select: none
			-moz-user-select: none
			-ms-user-select: none
			user-select: none
			video 
				min-width: 100%
				min-height: 100%
				width: auto
				height: auto
				position: absolute
				top: 50%
				left: 50%
				transform: translate(-50%,-50%)
				border: 0
				-webkit-touch-callout: none
				-webkit-user-select: none
				-khtml-user-select: none
				-moz-user-select: none
				-ms-user-select: none
				user-select: none
		figure
			padding: 0 80px
			text-align: center
			z-index: 100
			+media-breakpoint-up(lg)
				padding: 30px 80px
			figcaption 
				h1 
					color: #fff
					margin-top: 2rem
					font-weight: 100
					-webkit-touch-callout: none
					-webkit-user-select: none
					-khtml-user-select: none
					-moz-user-select: none
					-ms-user-select: none
					user-select: none
					font-size: 2.3rem
					span:nth-child(n+8):nth-child(-n+17)
						font-style: italic
						font-weight: 500
						-webkit-touch-callout: none
						-webkit-user-select: none
						-khtml-user-select: none
						-moz-user-select: none
						-ms-user-select: none
						user-select: none
					span:nth-child(n+27):nth-child(-n+36)
						font-style: italic
						font-weight: 500
						-webkit-touch-callout: none
						-webkit-user-select: none
						-khtml-user-select: none
						-moz-user-select: none
						-ms-user-select: none
						user-select: none
					+media-breakpoint-up(md)
						padding: 0 30px
					+media-breakpoint-up(lg)
						position: absolute
						bottom: 70px
						left: 0
						width: 100%
						padding: 0 50px
						font-size: 2.3rem
					+media-breakpoint-up(xl)
						font-size: 3rem
					@media (min-width: 1600px)
						font-size: 4rem
					@media (min-width: 1800px)
						font-size: 5rem
				h2 
					display: none
			img 
				max-width: 200px
				-webkit-touch-callout: none
				-webkit-user-select: none
				-khtml-user-select: none
				-moz-user-select: none
				-ms-user-select: none
				user-select: none
				+media-breakpoint-up(md)
					padding: 0 30px
					max-width: 500px
				+media-breakpoint-up(lg)
					max-width: 700px
				@media (min-width: 1600px)
					max-width: 800px
				@media (min-width: 1800px)
					max-width: 1000px
			.qrcode
				margin-top: 2rem
				img 
					max-width: 80px
					padding: 0
					@media (min-width: 1600px)
						max-width: 90px
					@media (min-width: 1800px)
						max-width: 100px
				+media-breakpoint-up(md)
					position: absolute
					bottom: 100px 
					right: 100px 
					margin-top: 0
		
		.text-rotate
			z-index: 100
			position: absolute
			color: rgba(255,255,255,1)
			+opacity(.075)
			font-size: 4rem
			margin: 0
			line-height: 1
			overflow: hidden
			-webkit-touch-callout: none
			-webkit-user-select: none
			-khtml-user-select: none
			-moz-user-select: none
			-ms-user-select: none
			user-select: none
			&.text-rotate-marketing
				font-size: 59px
				height: 55px 
				text-transform: uppercase
				font-weight: bold
				text-align: right
				right: 50px
				top: 0
				display: none
				animation: fadeMe2 5s ease-in-out infinite
			&.text-rotate-create
				font-size: 50px 
				width: 44px 
				text-transform: uppercase
				font-weight: 500
				text-align: left
				left: 0px
				bottom: 5px
				-ms-writing-mode: tb-rl
				writing-mode: vertical-rl
				text-orientation: mixed
				transform: rotate(180deg)
				animation: fadeMe3 10s ease-in-out infinite
			&.text-rotate-website
				font-size: 65px 
				height: 56px 
				// text-transform: uppercase
				font-weight: 100
				text-align: left
				right: 5px
				bottom: 5px
				text-orientation: mixed
			+media-breakpoint-up(sm)
				&.text-rotate-marketing
					display: block
				&.text-rotate-create
					font-size: 100px 
					width: 88px
					left: 5px
					bottom: 15px
				&.text-rotate-website
					font-size: 120px 
					height: 104px 
					right: -5px
					bottom: 0
			+media-breakpoint-up(md)
				&.text-rotate-create
					font-size: 100px 
					font-weight: 400
					width: 88px
					left: 5px
					bottom: 15px
				&.text-rotate-website
					font-size: 155px 
					height: 136px 
					right: -5px
					bottom: 0
			+media-breakpoint-up(lg)
				&.text-rotate-create
					font-size: 100px 
					font-weight: 100
					width: 88px
					left: 5px
					bottom: 15px
					+opacity(.3)
				&.text-rotate-website
					font-size: 212px 
					height: 180px 
					font-weight: 500
					right: -15px
					bottom: 0
					+opacity(.025)
			+media-breakpoint-up(xl)
				&.text-rotate-website
					font-size: 280px 
					height: 220px 
					font-weight: 700
					right: -15px
					bottom: 0
			@media (min-width: 1600px)
				&.text-rotate-website
					font-size: 320px 
					height: 275px 
					font-weight: 700
					right: -15px
					bottom: 0
			@media (min-width: 1800px)
				&.text-rotate-website
					font-size: 400px 
					height: 340px 
					font-weight: 700
					right: -15px
					bottom: 0
		.imgp 
			position: relative 
			display: block
		svg
			display: block
			margin: 0 auto
			margin-left: calc(50% + 30px)
			transform: translateX(-50%)
			animation: stroke-offset0 10s infinite 
			-webkit-touch-callout: none
			-webkit-user-select: none
			-khtml-user-select: none
			-moz-user-select: none
			-ms-user-select: none
			user-select: none
			font-size: 8rem
			width: 300px
			height: 100px
			margin-top: 5rem
			overflow: hidden
			.text-copy
				fill: none
				stroke: white
				stroke-dasharray: 18% 29%
				stroke-width: 1px
				stroke-dashoffset: 0%
				font-weight: 700
				animation: stroke-offset 10.5s infinite linear
				&:nth-child(1)
					stroke: $main
					animation-delay: -2s
				&:nth-child(2)
					stroke: $sen
					animation-delay: -4s
				&:nth-child(3)
					stroke: $hover
					animation-delay: -6s
				&:nth-child(4)
					stroke: $link
					animation-delay: -8s
				&:nth-child(5)
					stroke: #fff
					animation-delay: -10s
			+media-breakpoint-up(md)
				stroke-dasharray: 6% 29%
				font-size: 12rem
				width: 320px
				height: 150px
				.text-copy
					stroke-width: 1px
			+media-breakpoint-up(lg)
				stroke-dasharray: 12% 29%
				position: absolute
				top: 50% 
				left: 0%
				transform: translateX(-50%) translateY(-50%) scale(1)
				font-size: 7.5rem
				width: 800px
				height: 110px
				margin-top: 0
			+media-breakpoint-up(xl)
				stroke-dasharray: 6% 29%
				font-size: 8.5rem
				width: 1000px
				height: 120px
				font-weight: 400
			@media (min-width: 1600px)
				font-size: 12.5rem
				width: 1300px
				height: 210px
		.linkdown
			display: none
			align-items: center
			padding: 5px
			transform: rotate(-90deg) translate3d(130px, 113px, 0)
			position: absolute
			z-index: 600
			right: 0 
			bottom: 0
			text-decoration: none
			color: #fff
			animation: dpl 5s 
			+media-breakpoint-up(lg)
				display: inline-flex
			.link__arrow
				display: inline-flex
				span
					position: relative
					width: 14px
					height: 2px
					overflow: hidden
					background: #fff
					z-index: 500
					&:nth-child(1)
						transform-origin: left bottom
						transform: rotate(45deg) translate3d(8px, -10px, 0)
					&:nth-child(2)
						transform-origin: left bottom
						transform: rotate(-45deg)
					&:after
						content: ""
						display: block
						position: absolute
						left: 0
						width: 0
						height: 2px
						background: $main
			.link__line
				position: relative
				margin-left: -14px
				margin-right: 14px
				width: 150px
				height: 2px
				background: #BEBDBE
				overflow: hidden
				z-index: 1
				&:after
					content: ""
					display: block
					position: absolute
					left: 80px
					width: 70px
					height: 2px
					background: $main
			.link__text
				color: #fff
				font-size: 18px
				text-transform: uppercase
			&:hover
				text-decoration: none
				.link__line:after
					animation: animation-line .5s forwards
				.link__arrow span:after
					animation: animation-arrow .5s forwards
					animation-delay: .25s
