@charset "utf-8";
/* ////////// CANHCAM ////////////////////////////////////////// */
/* ////////// Copyright 2014 by VienSoi Team//////////// */
/* ////////// Coding by Bao Nguyen///////////////////////////// */
/* ////////// v1.0.1 Built by less technology////////////////// */
/* ////////// CANHCAM ////////////////////////////////////////// */
/* Less Function
>> IMG
data-uri('image/jpeg;base64','../data/image.jpg'); 

>> MIXIN
.boxshw, #boxshw {
  box-shadow: inset 0 0 10px #555;
}
.my-other-mixin() {
  background: white;
}
.myclass {
  .boxshw;
  .my-other-mixin();
}
*/
.middlebox {
  display: flex;
  align-items: center;
  justify-content: center;
}
.middlediv {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
/* #OPACITY*/
/* MOBILE ///////////////////////////////////////////////////////////////////////////////////////////////// */
/*End Global Lib*/
/* ////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////// HEADER ////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* header */
header.cc-header-fix {
  font-family: Roboto Condensed;
  font-weight: 700;
}
header.cc-header-fix #header.scroll2fix {
  margin-top: 0.1px;
  margin-top: 1px\0;
}
header.cc-header-fix #header .navbar {
  margin-bottom: 0;
  -webkit-box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  background: #f2f2f2;
  z-index: 1000;
  border: 0;
}
header.cc-header-fix #header .navbar.navbar-default {
  border-color: none;
}
header.cc-header-fix #header .navbar .navbar-header {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
header.cc-header-fix #header .navbar .navbar-header .navbar-brand {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  padding-bottom: 0;
  padding-top: 5px;
}
header.cc-header-fix #header .navbar .navbar-header .navbar-brand img {
  height: 40px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
header.cc-header-fix #header .navbar .navbar-collapse {
  position: relative;
}
header.cc-header-fix #header .navbar .navbar-collapse .nav {
  margin-top: 0;
  margin-bottom: 0;
}
header.cc-header-fix #header .navbar .navbar-collapse .nav > li > a {
  text-transform: uppercase;
  font-size: 16px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  color: #b3b3b3;
}
header.cc-header-fix #header .navbar .navbar-collapse .nav > li > a:hover {
  background: none;
  color: #04a9eb;
  -webkit-box-shadow: 3px 0 0 -1px #8bdcfd inset;
  -moz-box-shadow: 3px 0 0 -1px #8bdcfd inset;
  box-shadow: 3px 0 0 -1px #8bdcfd inset;
}
header.cc-header-fix #header .navbar .navbar-collapse .nav > li.active > a,
header.cc-header-fix #header .navbar .navbar-collapse .nav > li.open > a {
  color: #04a9eb;
  background: #f7f7f7;
  -webkit-box-shadow: 3px 0 0 -1px #04a9eb inset;
  -moz-box-shadow: 3px 0 0 -1px #04a9eb inset;
  box-shadow: 3px 0 0 -1px #04a9eb inset;
}
header.cc-header-fix #header .navbar .navbar-collapse .nav > li.open > ul {
  margin-top: 0;
  margin-bottom: 0;
}
header.cc-header-fix #header .navbar .navbar-collapse .nav > li.open > ul > li > a {
  color: #b3b3b3;
}
header.cc-header-fix #header .navbar .navbar-collapse .nav > li.open > ul > li > a:hover {
  color: #04a9eb;
  background: #fafafa;
  -webkit-box-shadow: 3px 0 0 -1px #04a9eb inset;
  -moz-box-shadow: 3px 0 0 -1px #04a9eb inset;
  box-shadow: 3px 0 0 -1px #04a9eb inset;
}
header.cc-header-fix #header .navbar .navbar-collapse .nav > li.open > ul > li ul {
  margin-top: 0;
  margin-bottom: 0;
}
header.cc-header-fix #header .navbar .navbar-collapse .nav > li.open > ul > li ul > li > a {
  color: #b3b3b3;
  display: block;
  padding: 5px 15px;
  text-decoration: none;
}
header.cc-header-fix #header .navbar .navbar-collapse .nav > li.open > ul > li ul > li > a:hover {
  background: #fafafa;
  -webkit-box-shadow: 3px 0 0 -1px #04a9eb inset;
  -moz-box-shadow: 3px 0 0 -1px #04a9eb inset;
  box-shadow: 3px 0 0 -1px #04a9eb inset;
}
header.cc-header-fix #header .navbar .navbar-collapse .navbar-form {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  position: relative;
  border: 0;
}
header.cc-header-fix #header .navbar .navbar-collapse .searchtoogle {
  display: none;
}
header.cc-header-fix #header .navbar .navbar-collapse .search .btnre,
header.cc-header-fix #header .navbar .navbar-collapse .search .btnse {
  display: none;
}
/* & TABLET ///////////////////////////////////////////////////////////////////////////////////////////////// */
@media (min-width: 767px) {
  /* header */
  header.cc-header-fix #header .navbar .navbar-header {
    float: none;
  }
  header.cc-header-fix #header .navbar .navbar-header .navbar-brand {
    width: 100%;
    margin-left: 0;
    text-align: center;
    display: block;
  }
  header.cc-header-fix #header .navbar .navbar-header .navbar-brand img {
    display: initial;
  }
  header.cc-header-fix #header .navbar .navbar-collapse .nav > li > a {
    padding: 10px 6px;
  }
  header.cc-header-fix #header .navbar .navbar-collapse .nav > li > a:hover {
    -webkit-box-shadow: 0 -3px 0 #04a9eb inset;
    -moz-box-shadow: 0 -3px 0 #04a9eb inset;
    box-shadow: 0 -3px 0 #04a9eb inset;
  }
  header.cc-header-fix #header .navbar .navbar-collapse .nav > li.active > a,
  header.cc-header-fix #header .navbar .navbar-collapse .nav > li.open > a {
    background: none;
    -webkit-box-shadow: 0 -3px 0 #04a9eb inset;
    -moz-box-shadow: 0 -3px 0 #04a9eb inset;
    box-shadow: 0 -3px 0 #04a9eb inset;
  }
  header.cc-header-fix #header .navbar .navbar-collapse .nav > li.open > ul {
    -webkit-box-shadow: 0 -3px 0 #04a9eb inset;
    -moz-box-shadow: 0 -3px 0 #04a9eb inset;
    box-shadow: 0 -3px 0 #04a9eb inset;
    background: #fafafa;
    border: 0;
  }
  header.cc-header-fix #header .navbar .navbar-collapse .nav > li.open > ul > li > a:hover {
    -webkit-box-shadow: 3px 0 0 -1px #8bdcfd inset;
    -moz-box-shadow: 3px 0 0 -1px #8bdcfd inset;
    box-shadow: 3px 0 0 -1px #8bdcfd inset;
  }
  header.cc-header-fix #header .navbar .navbar-collapse .nav > li.open > ul > li ul > li > a:hover {
    -webkit-box-shadow: 3px 0 0 -1px #8bdcfd inset;
    -moz-box-shadow: 3px 0 0 -1px #8bdcfd inset;
    box-shadow: 3px 0 0 -1px #8bdcfd inset;
  }
  header.cc-header-fix #header .navbar .navbar-collapse .navbar-right .nav li {
    position: relative;
  }
  header.cc-header-fix #header .navbar .navbar-collapse .navbar-right .nav li ul .yamm-content {
    min-width: 400px;
  }
  header.cc-header-fix #header .navbar .navbar-collapse .navbar-form {
    margin-top: 8px;
    margin-bottom: 0;
  }
  header.cc-header-fix #header .navbar .navbar-collapse .searchtoogle {
    display: block;
  }
  header.cc-header-fix #header .navbar .navbar-collapse .search {
    display: none;
    margin-left: -15px;
    margin-right: -15px;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  header.cc-header-fix #header .navbar .navbar-collapse .search .navbar-form {
    padding: 0;
    margin: 0;
    border: 0;
  }
  header.cc-header-fix #header .navbar .navbar-collapse .search .navbar-form .form-group {
    display: block;
  }
  header.cc-header-fix #header .navbar .navbar-collapse .search .navbar-form .form-group #searchinput {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    border: 0;
    height: 50px;
    padding: 0 30px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    background: #f2f2f2;
  }
  header.cc-header-fix #header .navbar .navbar-collapse .search .navbar-form label {
    display: none;
  }
  header.cc-header-fix #header .navbar .navbar-collapse .search .navbar-form .btnse {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 15px 0 10px;
    line-height: 50px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
  }
  header.cc-header-fix #header .navbar .navbar-collapse .search .navbar-form .btnre {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 15px;
    line-height: 50px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
  }
  header.cc-header-fix #header .navbar .navbar-collapse .search .navbar-form button {
    display: none;
  }
  header.cc-header-fix #header.scroll-to-fixed-fixed .navbar .navbar-header {
    display: none;
  }
}
/* PC ///////////////////////////////////////////////////////////////////////////////////////////////// */
@media (min-width: 991px) {
  /* header */
  header.cc-header-fix #header .navbar .navbar-header {
    float: left;
    width: initial;
  }
  header.cc-header-fix #header .navbar .navbar-header .navbar-brand {
    z-index: 99999;
    padding-top: 10px;
    padding-bottom: 0;
    margin-left: -15px;
    width: initial;
    text-align: initial;
    display: block;
  }
  header.cc-header-fix #header .navbar .navbar-header .navbar-brand img {
    display: initial;
    height: initial;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
  }
  header.cc-header-fix #header .navbar .navbar-collapse .nav > li > a {
    padding: 0 15px;
    line-height: 100px;
  }
  header.cc-header-fix #header .navbar .navbar-collapse .nav > li > a:hover {
    -webkit-box-shadow: 0 -3px 0 #04a9eb inset;
    -moz-box-shadow: 0 -3px 0 #04a9eb inset;
    box-shadow: 0 -3px 0 #04a9eb inset;
  }
  header.cc-header-fix #header .navbar .navbar-collapse .nav > li.active > a,
  header.cc-header-fix #header .navbar .navbar-collapse .nav > li.open > a {
    background: none;
    -webkit-box-shadow: 0 -3px 0 #04a9eb inset;
    -moz-box-shadow: 0 -3px 0 #04a9eb inset;
    box-shadow: 0 -3px 0 #04a9eb inset;
  }
  header.cc-header-fix #header .navbar .navbar-collapse .nav > li.open > ul {
    -webkit-box-shadow: 0 -3px 0 #04a9eb inset;
    -moz-box-shadow: 0 -3px 0 #04a9eb inset;
    box-shadow: 0 -3px 0 #04a9eb inset;
    background: #fafafa;
    border: 0;
  }
  header.cc-header-fix #header .navbar .navbar-collapse .nav > li.open > ul > li > a:hover {
    -webkit-box-shadow: 3px 0 0 -1px #8bdcfd inset;
    -moz-box-shadow: 3px 0 0 -1px #8bdcfd inset;
    box-shadow: 3px 0 0 -1px #8bdcfd inset;
  }
  header.cc-header-fix #header .navbar .navbar-collapse .nav > li.open > ul > li ul > li > a:hover {
    -webkit-box-shadow: 3px 0 0 -1px #8bdcfd inset;
    -moz-box-shadow: 3px 0 0 -1px #8bdcfd inset;
    box-shadow: 3px 0 0 -1px #8bdcfd inset;
  }
  header.cc-header-fix #header .navbar .navbar-collapse .navbar-form {
    margin-top: 34px;
    overflow: hidden;
  }
  header.cc-header-fix #header .navbar .navbar-collapse .navbar-form label {
    margin-bottom: 0;
  }
  header.cc-header-fix #header .navbar .navbar-collapse .search .navbar-form {
    padding: 0;
    margin: 0;
  }
  header.cc-header-fix #header .navbar .navbar-collapse .search .navbar-form .form-group #searchinput {
    height: 100px;
  }
  header.cc-header-fix #header .navbar .navbar-collapse .search .navbar-form .btnse {
    line-height: 100px;
  }
  header.cc-header-fix #header .navbar .navbar-collapse .search .navbar-form .btnre {
    line-height: 100px;
  }
  header.cc-header-fix #header.scroll-to-fixed-fixed .navbar .navbar-header {
    display: block;
  }
  header.cc-header-fix #header.scroll-to-fixed-fixed .navbar .navbar-header .navbar-brand {
    padding-top: 5px;
  }
  header.cc-header-fix #header.scroll-to-fixed-fixed .navbar .navbar-header .navbar-brand img {
    height: 40px;
  }
  header.cc-header-fix #header.scroll-to-fixed-fixed .navbar .navbar-collapse .nav > li > a {
    line-height: 50px;
  }
  header.cc-header-fix #header.scroll-to-fixed-fixed .navbar .navbar-collapse .navbar-form {
    margin-top: 8px;
  }
  header.cc-header-fix #header.scroll-to-fixed-fixed .navbar-collapse .search .navbar-form {
    padding: 0;
    margin: 0;
  }
  header.cc-header-fix #header.scroll-to-fixed-fixed .navbar-collapse .search .navbar-form .form-group #searchinput {
    height: 50px;
  }
  header.cc-header-fix #header.scroll-to-fixed-fixed .navbar-collapse .search .navbar-form .btnse {
    line-height: 50px;
  }
  header.cc-header-fix #header.scroll-to-fixed-fixed .navbar-collapse .search .navbar-form .btnre {
    line-height: 50px;
  }
}
/* LAGRE DEVICES ///////////////////////////////////////////////////////////////////////////////////////////////// */
/* PRINTS ///////////////////////////////////////////////////////////////////////////////////////////////// */
