@charset "utf-8";
/* CSS Document */
.banner {
	background: #fff;
	height: 528px;
	
}

.slideshow .slide {
	position: absolute;
	height: 528px;
	width: 100%;
	display: none;
	box-shadow: inset 0 0 8px rgba(0,0,0,0.9);
}

.slideshow .active {
	display: inline-block;
}

.slide_number_help {
	position: absolute;
	width: 100%;
	z-index:10;
}

.slide_number {
	margin: 0 auto;
	width: 980px;
	position: relative;
}

.slide_number ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.slide_number ul li {
	margin: 0;
	padding: 0;
	position: absolute;
}

.slide_number ul li a{
	cursor: pointer;
}

.slide_number ul li.n1{
	top: 264px;
}

.slide_number ul li.n2{
	top: 400px;
	left: 115px;
}

.slide_number ul li.n3{
	top: 463px;
	left: 50px;
}


