<!-- ////////////// FOOTER ////////////// -->
footer#contact
	.background-slider
	.container-fluid
		.row
			.col-12.col-lg-4.col-xl-3.pr-xl-5
				.qrcode 
					img(src="./img/qr.png", alt="")
				small.d-block.mt-2.mb-3.text-num Copyright © #{new Date().getFullYear()}. All rights reserved.
			.col-12.col-lg-8.col-xl
				.row
					.col-12.mt-4.mt-lg-0
						h5 About me
						.liner.mb-4
				.row
					.col-sm-6.col-lg.mt-lg-0
						ul.list-unstyled.text-small.mb-0
							li
								a(href="/") Software Developer
							li
								a(href="/") Dallas Website Design
							li
								a(href="/") DFW Development
							li
								a(href="/") Texas Designers
							//- li
								a(href="/") Another one
							//- li
								a(href="/") Last time
					.col-sm-6.col-lg.mt-lg-0
						//- h5 Resources
						//- .liner.mb-4
						ul.list-unstyled.text-small.mb-0
							li
								a(href="/") Brand Designers 
							li
								a(href="/") Web Developers
							li
								a(href="/") Graphic designers
			.col-xl.mt-4.mt-xl-0.pl-xl-5
				h5 Contact Me
				.liner.mb-4
				p 
					a.h4.highlight.text-num(href="mailto:baonguyenyam@gmail.com" target="blank") baonguyenyam@gmail.com
				p.mb-0
					a.mobile.textgra.text-main.text-num(href="tel:682-203-1334") (682) 203-1334
				//- ul.text-small.list-inline
					li.list-inline-item
						a(href="/#") 
							i.fab.fa-facebook-square
					li.list-inline-item
						a(href="/#") 
							i.fab.fa-youtube
					li.list-inline-item
						a(href="/#") 
							i.fab.fa-instagram
					li.list-inline-item
						a(href="/#") 
							i.fab.fa-twitter 
					