<!-- ////////////// FOOTER ////////////// -->
footer.border-top
	.background-slider
	.container-fluid
		.row
			.col-12.col-lg-4.pr-xl-5.flit-animation.faster(data-animation="fadeInUp")
				img.mb-2(src="./img/lgw.png" alt="")
				small.d-block.mb-3.text-muted Copyright by 
					a(href='/') LIFT Creations.
				p.small.lf Web Design and Development Company, Web Design Advertising, Web Design Agency Dallas Web Design and Build, Web Design and Development, Web Design and Development Companies, Web Design and Marketing, and Web Design and SEO Marketing. Dallas Website Design, Dallas Web Development, Dallas Web Page Designers, Dallas Web Making, Dallas Web Designer, Dallas Web Design.

			.col-sm-6.col-lg.col-xl-2.mt-4.mt-lg-0.flit-animation.fast(data-animation="fadeInUp")
				h5 Features
				.liner.mb-4
				ul.list-unstyled.text-small
					li
						a.text-muted(href="#") Cool stuff
					li
						a.text-muted(href="#") Random feature
					li
						a.text-muted(href="#") Team feature
					li
						a.text-muted(href="#") Stuff for developers
					li
						a.text-muted(href="#") Another one
					li
						a.text-muted(href="#") Last time
			.col-sm-6.col-lg.col-xl-2.mt-4.mt-lg-0.flit-animation.delay-0s(data-animation="fadeInUp")
				h5 Resources
				.liner.mb-4
				ul.list-unstyled.text-small
					li
						a.text-muted(href="#") Resource
					li
						a.text-muted(href="#") Resource name
					li
						a.text-muted(href="#") Another resource
					li
						a.text-muted(href="#") Final resource
			.col-lg.mt-4.mt-lg-0.flit-animation.delay-1s(data-animation="fadeInUp")
				h5 Contact Us
				.liner.mb-4
				p 
					a.h4.highlight(href="https://goo.gl/maps/UjUh1WXFFZT48YWH8" target="blank") 1065 Foch St, Fort Worth, TX 76107
				p 
					a.mobile.textgra.text-main(href="tel:866-244-1150") (866) 244-1150
				ul.text-small.list-inline
					li.list-inline-item
						a(href="#") 
							i.fab.fa-facebook-square
					li.list-inline-item
						a(href="#") 
							i.fab.fa-youtube
					li.list-inline-item
						a(href="#") 
							i.fab.fa-instagram
					li.list-inline-item
						a(href="#") 
							i.fab.fa-twitter 
					