/* Less Function
>> IMG
data-uri('image/jpeg;base64','../data/image.jpg'); 

>> MIXIN
.boxshw, #boxshw {
  box-shadow: inset 0 0 10px #555;
}
.my-other-mixin() {
  background: white;
}
.myclass {
  .boxshw;
  .my-other-mixin();
}
*/
/* #OPACITY*/
/* RESPONSIVE ///////////////////////////////////////////////////////////////////////////////////////////////// */
/* Mobile Layout:480px and below (default). */
/* Small devices (tablets, 768px and up) */
@media (min-width: 767px) {
  .cmsadminpanel ul {
    display: inline-block;
    float: left;
  }
  .cmsadminpanel ul li {
    float: left;
  }
  .metromini .item {
    width: 25%;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 991px) {
  /* header */
  #header .navbar .container-fluid {
    padding-right: 0px;
    padding-left: 0px;
  }
  #header .navbar .container-fluid .navbar-collapse .nav > li.open ul li.open ul {
    position: absolute;
    top: 0;
    left: 100%;
  }
  #header .navbar .container-fluid .navbar-collapse .nav.navbar-right {
    position: inherit;
  }
  #header .navbar .container-fluid .navbar-collapse .nav.navbar-right > li.open ul li.open ul {
    position: absolute;
    top: 0;
    left: initial;
    right: 100%;
  }
  #header .navbar .container-fluid .navbar-collapse .tel {
    display: inline-block;
    min-height: 48px;
  }
  #subheader .navbarsub {
    margin-left: -15px;
  }
  #subheader .navbarsub .container-fluid {
    padding-right: 0px;
    padding-left: 0px;
  }
  #subheader .navbarsub .container-fluid .navbar-header .navbar-brand {
    display: none;
  }
  #subheader .navbarsub .container-fluid .navbar-collapse .navbar-right {
    position: inherit;
  }
  #subheader .navbarsub .container-fluid .navbar-collapse .tel {
    display: inline-block;
    min-height: 48px;
  }
  .metromini .item {
    width: 20%;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1199px) {
  .metromini .item {
    width: 12.5%;
  }
}
/* PRINT ///////////////////////////////////////////////////////////////////////////////////////////////// */
