@charset "utf-8";
/* ////////// CANHCAM ////////////////////////////////////////// */
/* ////////// Copyright 2014 by VienSoi Team//////////// */
/* ////////// Coding by Bao Nguyen///////////////////////////// */
/* ////////// v1.0.1 Built by less technology////////////////// */
/* ////////// CANHCAM ////////////////////////////////////////// */
/* Less Function
>> IMG
data-uri('image/jpeg;base64','../data/image.jpg'); 

>> MIXIN
.boxshw, #boxshw {
  box-shadow: inset 0 0 10px #555;
}
.my-other-mixin() {
  background: white;
}
.myclass {
  .boxshw;
  .my-other-mixin();
}
*/
.middlediv {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
}
/* #OPACITY*/
/* MOBILE ///////////////////////////////////////////////////////////////////////////////////////////////// */
footer.cc-footer-maps {
  color: #b3b3b3;
  font-size: 13px;
}
footer.cc-footer-maps a {
  color: #f2f2f2;
}
footer.cc-footer-maps a:hover {
  color: #3781b7;
  text-decoration: none;
}
footer.cc-footer-maps h4 {
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 0;
}
footer.cc-footer-maps .slogan {
  font-style: italic;
  font-size: 13px;
}
footer.cc-footer-maps .lasted {
  padding-top: 15px;
}
footer.cc-footer-maps .lasted .media-heading {
  color: #f2f2f2;
}
footer.cc-footer-maps .lasted .media-heading:hover {
  color: #3781b7;
  text-decoration: none;
}
footer.cc-footer-maps .conactform {
  padding-top: 10px;
}
footer.cc-footer-maps .bgtop {
  background: #4d4d4d;
  padding: 70px 0 40px;
}
footer.cc-footer-maps .bgtop .links li a {
  position: relative;
  display: block;
  padding: 10px 0;
  margin-bottom: -1px;
  border-bottom: 1px dashed #666666;
}
footer.cc-footer-maps .bgtop .maps {
  padding-top: 15px;
}
footer.cc-footer-maps .bgtop .maps .mapframe iframe {
  border: 0;
}
footer.cc-footer-maps .bgtop .social {
  margin: 15px 0 0 0;
  padding: 0;
  color: #d9d9d9;
  text-align: center;
}
footer.cc-footer-maps .bgtop .social li {
  display: inline-block;
  list-style-type: none;
}
footer.cc-footer-maps .bgtop .social li a {
  width: 25px;
  height: 25px;
  display: block;
  text-align: center;
  vertical-align: middle;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #fafafa;
  background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#d9d9d9));
  background: -webkit-linear-gradient(top, #fafafa, #d9d9d9);
  background: -moz-linear-gradient(top, #fafafa, #d9d9d9);
  background: -ms-linear-gradient(top, #fafafa, #d9d9d9);
  background: -o-linear-gradient(top, #fafafa, #d9d9d9);
  color: #b3b3b3;
  border: 1px solid #b3b3b3;
}
footer.cc-footer-maps .bgtop .social li a:hover {
  background: #f1f1f1;
  color: #fff;
}
footer.cc-footer-maps .bgtop .social li a:hover.face {
  color: #2d2f93;
}
footer.cc-footer-maps .bgtop .social li a:hover.linkedin {
  color: #0072bb;
}
footer.cc-footer-maps .bgtop .social li a:hover.youtube {
  color: #A10606;
}
footer.cc-footer-maps .bgtop .social li a:hover.twitter {
  color: #22acc9;
}
footer.cc-footer-maps .bgtop .social li a em {
  line-height: 25px;
  font-size: 16px;
}
footer.cc-footer-maps .bgtop .lasted .media {
  border-bottom: 1px dashed #d9d9d9;
  padding-bottom: 15px;
}
footer.cc-footer-maps .bgtop .lasted img {
  height: 64px;
  max-height: 64px;
  width: 64px;
  max-width: 64px;
}
footer.cc-footer-maps .bgtop .lasted time {
  color: #b3b3b3;
  margin-bottom: 15px;
  display: block;
  font-size: 12px;
}
footer.cc-footer-maps .bgtop .lasted .media-heading {
  font-weight: bold;
  font-size: 13px;
  color: #000000;
}
footer.cc-footer-maps .bgend {
  padding: 30px 0 20px 0;
  background: #050505;
  border-top: 1px solid #b3b3b3;
}
footer.cc-footer-maps .bgend .copyright {
  text-align: center;
  margin-bottom: 10px;
}
/* & TABLET ///////////////////////////////////////////////////////////////////////////////////////////////// */
/* PC ///////////////////////////////////////////////////////////////////////////////////////////////// */
@media (min-width: 991px) {
  footer.cc-footer-maps .bgtop .social {
    text-align: left;
  }
  footer.cc-footer-maps .bgend .copyright {
    text-align: left;
    line-height: 36px;
  }
  footer.cc-footer-maps .bgend .copyright.only {
    text-align: center;
  }
  footer.cc-footer-maps .bgend .social {
    text-align: right;
  }
}
/* LAGRE DEVICES ///////////////////////////////////////////////////////////////////////////////////////////////// */
/* PRINTS ///////////////////////////////////////////////////////////////////////////////////////////////// */
/*# sourceMappingURL=footer-maps.css.map */