@font-face {
  font-family: 'Hornbill Personal Use';
  src: url('../webfonts/HornbillPersonalUse-BoldIta.eot');
  src:
    url('../webfonts/HornbillPersonalUse-BoldIta.eot?#iefix') format('embedded-opentype'),
    url('../webfonts/HornbillPersonalUse-BoldIta.woff2') format('woff2'),
    url('../webfonts/HornbillPersonalUse-BoldIta.woff') format('woff'),
    url('../webfonts/HornbillPersonalUse-BoldIta.ttf') format('truetype'),
    url('../webfonts/HornbillPersonalUse-BoldIta.svg#HornbillPersonalUse-BoldIta') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hornbill Personal Use';
  src: url('../webfonts/HornbillPersonalUse-Black.eot');
  src:
    url('../webfonts/HornbillPersonalUse-Black.eot?#iefix') format('embedded-opentype'),
    url('../webfonts/HornbillPersonalUse-Black.woff2') format('woff2'),
    url('../webfonts/HornbillPersonalUse-Black.woff') format('woff'),
    url('../webfonts/HornbillPersonalUse-Black.ttf') format('truetype'),
    url('../webfonts/HornbillPersonalUse-Black.svg#HornbillPersonalUse-Black') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hornbill Personal Use';
  src: url('../webfonts/HornbillPersonalUse-Bold.eot');
  src:
    url('../webfonts/HornbillPersonalUse-Bold.eot?#iefix') format('embedded-opentype'),
    url('../webfonts/HornbillPersonalUse-Bold.woff2') format('woff2'),
    url('../webfonts/HornbillPersonalUse-Bold.woff') format('woff'),
    url('../webfonts/HornbillPersonalUse-Bold.ttf') format('truetype'),
    url('../webfonts/HornbillPersonalUse-Bold.svg#HornbillPersonalUse-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hornbill Personal Use';
  src: url('../webfonts/HornbillPersonalUse-BlackIta.eot');
  src:
    url('../webfonts/HornbillPersonalUse-BlackIta.eot?#iefix') format('embedded-opentype'),
    url('../webfonts/HornbillPersonalUse-BlackIta.woff2') format('woff2'),
    url('../webfonts/HornbillPersonalUse-BlackIta.woff') format('woff'),
    url('../webfonts/HornbillPersonalUse-BlackIta.ttf') format('truetype'),
    url('../webfonts/HornbillPersonalUse-BlackIta.svg#HornbillPersonalUse-BlackIta') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hornbill Personal Use';
  src: url('../webfonts/HornbillPersonalUse-BlackIta.eot');
  src:
    url('../webfonts/HornbillPersonalUse-BlackIta.eot?#iefix') format('embedded-opentype'),
    url('../webfonts/HornbillPersonalUse-BlackIta.woff2') format('woff2'),
    url('../webfonts/HornbillPersonalUse-BlackIta.woff') format('woff'),
    url('../webfonts/HornbillPersonalUse-BlackIta.ttf') format('truetype'),
    url('../webfonts/HornbillPersonalUse-BlackIta.svg#HornbillPersonalUse-BlackIta') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hornbill Personal Use';
  src:
    url('../webfonts/Hornbill-Regular.woff2') format('woff2'),
    /* Modern Browsers */ url('../webfonts/Hornbill-Regular.otf') format('opentype');
  /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Neue Kabel';
  src: url('../webfonts/NeueKabel-Black.eot');
  src:
    url('../webfonts/NeueKabel-Black.eot?#iefix') format('embedded-opentype'),
    url('../webfonts/NeueKabel-Black.woff2') format('woff2'),
    url('../webfonts/NeueKabel-Black.woff') format('woff'),
    url('../webfonts/NeueKabel-Black.ttf') format('truetype'),
    url('../webfonts/NeueKabel-Black.svg#NeueKabel-Black') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Kabel';
  src: url('../webfonts/NeueKabel-Bold.eot');
  src:
    url('../webfonts/NeueKabel-Bold.eot?#iefix') format('embedded-opentype'),
    url('../webfonts/NeueKabel-Bold.woff2') format('woff2'),
    url('../webfonts/NeueKabel-Bold.woff') format('woff'),
    url('../webfonts/NeueKabel-Bold.ttf') format('truetype'),
    url('../webfonts/NeueKabel-Bold.svg#NeueKabel-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Kabel';
  src: url('../webfonts/NeueKabel-Regular.eot');
  src:
    url('../webfonts/NeueKabel-Regular.eot?#iefix') format('embedded-opentype'),
    url('../webfonts/NeueKabel-Regular.woff2') format('woff2'),
    url('../webfonts/NeueKabel-Regular.woff') format('woff'),
    url('../webfonts/NeueKabel-Regular.ttf') format('truetype'),
    url('../webfonts/NeueKabel-Regular.svg#NeueKabel-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body {
  // font-family: 'Neue Kabel', sans-serif;
  font-family: 'Montserrat', sans-serif;
}
.postdesc{ 
  pre {
    font-size: .7rem;
    line-height: 1.5;
  }
}