/* Less Function
>> IMG
data-uri('image/jpeg;base64','../data/image.jpg'); 

>> MIXIN
.boxshw, #boxshw {
  box-shadow: inset 0 0 10px #555;
}
.my-other-mixin() {
  background: white;
}
.myclass {
  .boxshw;
  .my-other-mixin();
}

*/
/* #OPACITY*/
/* MENU ================================================== */
/* #FONT FACE */
/* #TEXT SIZE */
/* #TEXT COLOR */
/* #BREAK */
/* #OPACITY */
/* #TABLE */
/* #BOX */
/* #IMAGE EFECT */
/* #RIBBON */
/* END MENU ================================================== */
/* #FONT-FACE
================================================== */
/* 
@font-face{font-family:'Font';
src:url('../fonts/segoeuil-webfont.eot');
src:url('../fonts/segoeuil-webfont.eot?iefix') format('eot'),
url('../fonts/segoeuil-webfont.woff') format('woff'),
url('../fonts/segoeuil-webfont.ttf') format('truetype'),
url('../fonts/segoeuil-webfont.svg#Font') format('svg');
font-weight:normal;font-style:normal;
}
*/
.opacity1 {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
  filter: alpha(opacity=1);
  opacity: 1;
}
/* #TEXT SIZE
================================================== */
.text-bold {
  font-weight: 700;
}
.text-muted {
  color: #dfdfdf;
}
.text-underline,
a.text-underline {
  text-decoration: underline;
}
.text-italic,
a.text-italic {
  font-style: italic;
}
.text-mini {
  font-size: 80%;
  line-height: 16px;
}
.text-small {
  font-size: 90%;
  line-height: 16px;
}
.text-large {
  font-size: 140%;
  line-height: 26px;
}
/* Pixel line setup */
.text-8px {
  font-size: 8px;
}
.text-9px {
  font-size: 9px;
}
.text-10px {
  font-size: 10px;
}
.text-11px {
  font-size: 11px;
}
.text-12px {
  font-size: 12px;
}
.text-13px {
  font-size: 13px;
}
.text-14px {
  font-size: 14px;
}
.text-15px {
  font-size: 15px;
}
.text-16px {
  font-size: 16px;
}
.text-17px {
  font-size: 17px;
}
.text-18px {
  font-size: 18px;
}
.text-19px {
  font-size: 19px;
}
.text-20px {
  font-size: 20px;
}
.text-21px {
  font-size: 21px;
}
.text-22px {
  font-size: 22px;
}
.text-23px {
  font-size: 23px;
}
.text-24px {
  font-size: 24px;
}
.text-25px {
  font-size: 25px;
}
.text-26px {
  font-size: 26px;
}
.text-27px {
  font-size: 27px;
}
.text-28px {
  font-size: 28px;
}
.text-29px {
  font-size: 29px;
}
.text-30px {
  font-size: 30px;
}
.text-31px {
  font-size: 31px;
}
.text-32px {
  font-size: 32px;
}
.text-33px {
  font-size: 33px;
}
.text-34px {
  font-size: 34px;
}
.text-35px {
  font-size: 35px;
}
.text-36px {
  font-size: 36px;
}
.text-37px {
  font-size: 37px;
}
.text-38px {
  font-size: 38px;
}
.text-39px {
  font-size: 39px;
}
.text-40px {
  font-size: 40px;
}
.text-41px {
  font-size: 41px;
}
.text-42px {
  font-size: 42px;
}
.text-43px {
  font-size: 43px;
}
.text-44px {
  font-size: 44px;
}
.text-45px {
  font-size: 45px;
}
.text-46px {
  font-size: 46px;
}
.text-47px {
  font-size: 47px;
}
.text-48px {
  font-size: 48px;
}
.text-49px {
  font-size: 49px;
}
.text-50px {
  font-size: 50px;
}
.text-51px {
  font-size: 51px;
}
.text-52px {
  font-size: 52px;
}
.text-53px {
  font-size: 53px;
}
.text-54px {
  font-size: 54px;
}
.text-55px {
  font-size: 55px;
}
.text-56px {
  font-size: 56px;
}
.text-57px {
  font-size: 57px;
}
.text-58px {
  font-size: 58px;
}
.text-59px {
  font-size: 59px;
}
.text-60px {
  font-size: 60px;
}
.text-61px {
  font-size: 61px;
}
.text-62px {
  font-size: 62px;
}
.text-63px {
  font-size: 63px;
}
.text-64px {
  font-size: 64px;
}
.text-65px {
  font-size: 65px;
}
.text-66px {
  font-size: 66px;
}
.text-67px {
  font-size: 67px;
}
.text-68px {
  font-size: 68px;
}
.text-69px {
  font-size: 69px;
}
.text-70px {
  font-size: 70px;
}
.text-71px {
  font-size: 71px;
}
.text-72px {
  font-size: 72px;
}
.text-73px {
  font-size: 73px;
}
.text-74px {
  font-size: 74px;
}
.text-75px {
  font-size: 75px;
}
.text-76px {
  font-size: 76px;
}
.text-77px {
  font-size: 77px;
}
.text-78px {
  font-size: 78px;
}
.text-79px {
  font-size: 79px;
}
.text-80px {
  font-size: 80px;
}
.text-81px {
  font-size: 81px;
}
.text-82px {
  font-size: 82px;
}
.text-83px {
  font-size: 83px;
}
.text-84px {
  font-size: 84px;
}
.text-85px {
  font-size: 85px;
}
.text-86px {
  font-size: 86px;
}
.text-87px {
  font-size: 87px;
}
.text-88px {
  font-size: 88px;
}
.text-89px {
  font-size: 89px;
}
.text-90px {
  font-size: 90px;
}
.text-91px {
  font-size: 91px;
}
.text-92px {
  font-size: 92px;
}
.text-93px {
  font-size: 93px;
}
.text-94px {
  font-size: 94px;
}
.text-95px {
  font-size: 95px;
}
.text-96px {
  font-size: 96px;
}
.text-97px {
  font-size: 97px;
}
.text-98px {
  font-size: 98px;
}
.text-99px {
  font-size: 99px;
}
.text-100px {
  font-size: 100px;
}
.text-101px {
  font-size: 101px;
}
.text-102px {
  font-size: 102px;
}
.text-103px {
  font-size: 103px;
}
.text-104px {
  font-size: 104px;
}
.text-105px {
  font-size: 105px;
}
.text-106px {
  font-size: 106px;
}
.text-107px {
  font-size: 107px;
}
.text-108px {
  font-size: 108px;
}
.text-109px {
  font-size: 109px;
}
.text-110px {
  font-size: 110px;
}
.text-111px {
  font-size: 111px;
}
.text-112px {
  font-size: 112px;
}
.text-113px {
  font-size: 113px;
}
.text-114px {
  font-size: 114px;
}
.text-115px {
  font-size: 115px;
}
.text-116px {
  font-size: 116px;
}
.text-117px {
  font-size: 117px;
}
.text-118px {
  font-size: 118px;
}
.text-119px {
  font-size: 119px;
}
.text-120px {
  font-size: 120px;
}
/* em line setup */
/*@per-fontsizeem:0.1;
.text2(@n,@i:7) when (@i =< @n){.text-0@{i}em{@temp:@i*@per-fontsizeem; font-size:~"@{temp}em";}
.text2(@n,(@i + 1));}
.text2(9)
;@per-fontsizeem2:1;
.text3(@n,@i:1) when (@i =< @n){.text-@{i}em{@temp:@i+@per-fontsizeem2; font-size:~"@{temp}em";}
.text3(@n,(@i + 1));}
.text3(10); 
*/
/* Percent line setup */
.text-70pe {
  font-size: 70%;
}
.text-75pe {
  font-size: 75%;
}
.text-80pe {
  font-size: 80%;
}
.text-85pe {
  font-size: 85%;
}
.text-90pe {
  font-size: 90%;
}
.text-95pe {
  font-size: 95%;
}
.text-100pe {
  font-size: 100%;
}
.text-105pe {
  font-size: 105%;
}
.text-110pe {
  font-size: 110%;
}
.text-115pe {
  font-size: 115%;
}
.text-120pe {
  font-size: 120%;
}
.text-125pe {
  font-size: 125%;
}
.text-130pe {
  font-size: 130%;
}
.text-135pe {
  font-size: 135%;
}
.text-140pe {
  font-size: 140%;
}
.text-145pe {
  font-size: 145%;
}
.text-150pe {
  font-size: 150%;
}
.text-155pe {
  font-size: 155%;
}
.text-160pe {
  font-size: 160%;
}
.text-165pe {
  font-size: 165%;
}
.text-170pe {
  font-size: 170%;
}
.text-175pe {
  font-size: 175%;
}
.text-180pe {
  font-size: 180%;
}
.text-185pe {
  font-size: 185%;
}
.text-190pe {
  font-size: 190%;
}
.text-195pe {
  font-size: 195%;
}
.text-200pe {
  font-size: 200%;
}
.text-205pe {
  font-size: 205%;
}
.text-210pe {
  font-size: 210%;
}
.text-215pe {
  font-size: 215%;
}
.text-220pe {
  font-size: 220%;
}
.text-225pe {
  font-size: 225%;
}
.text-230pe {
  font-size: 230%;
}
.text-235pe {
  font-size: 235%;
}
.text-240pe {
  font-size: 240%;
}
.text-245pe {
  font-size: 245%;
}
.text-250pe {
  font-size: 250%;
}
.text-255pe {
  font-size: 255%;
}
.text-260pe {
  font-size: 260%;
}
.text-265pe {
  font-size: 265%;
}
.text-270pe {
  font-size: 270%;
}
.text-275pe {
  font-size: 275%;
}
.text-280pe {
  font-size: 280%;
}
.text-285pe {
  font-size: 285%;
}
.text-290pe {
  font-size: 290%;
}
.text-295pe {
  font-size: 295%;
}
.text-300pe {
  font-size: 300%;
}
.text-305pe {
  font-size: 305%;
}
.text-310pe {
  font-size: 310%;
}
.text-315pe {
  font-size: 315%;
}
.text-320pe {
  font-size: 320%;
}
.text-325pe {
  font-size: 325%;
}
.text-330pe {
  font-size: 330%;
}
.text-335pe {
  font-size: 335%;
}
.text-340pe {
  font-size: 340%;
}
.text-345pe {
  font-size: 345%;
}
.text-350pe {
  font-size: 350%;
}
.text-355pe {
  font-size: 355%;
}
.text-360pe {
  font-size: 360%;
}
.text-365pe {
  font-size: 365%;
}
.text-370pe {
  font-size: 370%;
}
.text-375pe {
  font-size: 375%;
}
.text-380pe {
  font-size: 380%;
}
.text-385pe {
  font-size: 385%;
}
.text-390pe {
  font-size: 390%;
}
.text-395pe {
  font-size: 395%;
}
.text-400pe {
  font-size: 400%;
}
.text-405pe {
  font-size: 405%;
}
.text-410pe {
  font-size: 410%;
}
.text-415pe {
  font-size: 415%;
}
.text-420pe {
  font-size: 420%;
}
.text-425pe {
  font-size: 425%;
}
.text-430pe {
  font-size: 430%;
}
.text-435pe {
  font-size: 435%;
}
.text-440pe {
  font-size: 440%;
}
.text-445pe {
  font-size: 445%;
}
.text-450pe {
  font-size: 450%;
}
.text-455pe {
  font-size: 455%;
}
.text-460pe {
  font-size: 460%;
}
.text-465pe {
  font-size: 465%;
}
.text-470pe {
  font-size: 470%;
}
.text-475pe {
  font-size: 475%;
}
.text-480pe {
  font-size: 480%;
}
.text-485pe {
  font-size: 485%;
}
.text-490pe {
  font-size: 490%;
}
.text-495pe {
  font-size: 495%;
}
.text-500pe {
  font-size: 500%;
}
.text-505pe {
  font-size: 505%;
}
.text-510pe {
  font-size: 510%;
}
.text-515pe {
  font-size: 515%;
}
.text-520pe {
  font-size: 520%;
}
.text-525pe {
  font-size: 525%;
}
.text-530pe {
  font-size: 530%;
}
.text-535pe {
  font-size: 535%;
}
.text-540pe {
  font-size: 540%;
}
.text-545pe {
  font-size: 545%;
}
.text-550pe {
  font-size: 550%;
}
.text-555pe {
  font-size: 555%;
}
.text-560pe {
  font-size: 560%;
}
.text-565pe {
  font-size: 565%;
}
.text-570pe {
  font-size: 570%;
}
.text-575pe {
  font-size: 575%;
}
.text-580pe {
  font-size: 580%;
}
.text-585pe {
  font-size: 585%;
}
.text-590pe {
  font-size: 590%;
}
.text-595pe {
  font-size: 595%;
}
.text-600pe {
  font-size: 600%;
}
.text-605pe {
  font-size: 605%;
}
.text-610pe {
  font-size: 610%;
}
.text-615pe {
  font-size: 615%;
}
.text-620pe {
  font-size: 620%;
}
.text-625pe {
  font-size: 625%;
}
.text-630pe {
  font-size: 630%;
}
.text-635pe {
  font-size: 635%;
}
.text-640pe {
  font-size: 640%;
}
.text-645pe {
  font-size: 645%;
}
.text-650pe {
  font-size: 650%;
}
.text-655pe {
  font-size: 655%;
}
.text-660pe {
  font-size: 660%;
}
.text-665pe {
  font-size: 665%;
}
.text-670pe {
  font-size: 670%;
}
.text-675pe {
  font-size: 675%;
}
.text-680pe {
  font-size: 680%;
}
.text-685pe {
  font-size: 685%;
}
.text-690pe {
  font-size: 690%;
}
.text-695pe {
  font-size: 695%;
}
.text-700pe {
  font-size: 700%;
}
.text-705pe {
  font-size: 705%;
}
.text-710pe {
  font-size: 710%;
}
.text-715pe {
  font-size: 715%;
}
.text-720pe {
  font-size: 720%;
}
.text-725pe {
  font-size: 725%;
}
.text-730pe {
  font-size: 730%;
}
.text-735pe {
  font-size: 735%;
}
.text-740pe {
  font-size: 740%;
}
.text-745pe {
  font-size: 745%;
}
.text-750pe {
  font-size: 750%;
}
.text-755pe {
  font-size: 755%;
}
.text-760pe {
  font-size: 760%;
}
.text-765pe {
  font-size: 765%;
}
.text-770pe {
  font-size: 770%;
}
.text-775pe {
  font-size: 775%;
}
.text-780pe {
  font-size: 780%;
}
.text-785pe {
  font-size: 785%;
}
.text-790pe {
  font-size: 790%;
}
.text-795pe {
  font-size: 795%;
}
.text-800pe {
  font-size: 800%;
}
/* #TEXT COLOR
================================================== */
.text-basic *,
.text-basic {
  color: #e5e5e5;
}
.bg-basic,
a:hover.bg-basic {
  background-color: #e5e5e5;
}
.text-info *,
.text-info {
  color: #2d7091;
}
.bg-info,
a:hover.bg-info {
  background-color: #2d7091;
}
.text-success *,
.text-success {
  color: #659f13;
}
.bg-success,
a:hover.bg-success {
  background-color: #659f13;
}
.text-warning *,
.text-warning {
  color: #e28327;
}
.bg-warning,
a:hover.bg-warning {
  background-color: #e28327;
}
.text-danger *,
.text-danger {
  color: #d85030;
}
.bg-danger,
a:hover.bg-danger {
  background-color: #d85030;
}
.text-turquoise *,
.text-turquoise {
  color: #1abc9c;
}
.bg-turquoise,
a:hover.bg-turquoise {
  background-color: #1abc9c;
}
.text-green-sea *,
.text-green-sea {
  color: #16a085;
}
.bg-green-sea,
a:hover.bg-green-sea {
  background-color: #16a085;
}
.text-emerald *,
.text-emerald {
  color: #2ecc71;
}
.bg-emerald,
a:hover.bg-emerald {
  background-color: #2ecc71;
}
.text-nephritis *,
.text-nephritis {
  color: #27ae60;
}
.bg-nephritis,
a:hover.bg-nephritis {
  background-color: #27ae60;
}
.text-peter-river *,
.text-peter-river {
  color: #3498db;
}
.bg-peter-river,
a:hover.bg-peter-river {
  background-color: #3498db;
}
.text-belize-hole *,
.text-belize-hole {
  color: #2980b9;
}
.bg-belize-hole,
a:hover.bg-belize-hole {
  background-color: #2980b9;
}
.text-amethyst *,
.text-amethyst {
  color: #9b59b6;
}
.bg-amethyst,
a:hover.bg-amethyst {
  background-color: #9b59b6;
}
.text-wisteria *,
.text-wisteria {
  color: #8e44ad;
}
.bg-wisteria,
a:hover.bg-wisteria {
  background-color: #8e44ad;
}
.text-wet-ashpalt *,
.text-wet-ashpalt {
  color: #34495e;
}
.bg-wet-ashpalt,
a:hover.bg-wet-ashpalt {
  background-color: #34495e;
}
.text-midnight-blue *,
.text-midnight-blue {
  color: #2c3e50;
}
.bg-midnight-blue,
a:hover.bg-midnight-blue {
  background-color: #2c3e50;
}
.text-sun-flower *,
.text-sun-flower {
  color: #f1c40f;
}
.bg-sun-flower,
a:hover.bg-sun-flower {
  background-color: #f1c40f;
}
.text-orange *,
.text-orange {
  color: #f39c12;
}
.bg-orange,
a:hover.bg-orange {
  background-color: #f39c12;
}
.text-carrot *,
.text-carrot {
  color: #e67e22;
}
.bg-carrot,
a:hover.bg-carrot {
  background-color: #e67e22;
}
.text-pumpkin *,
.text-pumpkin {
  color: #d35400;
}
.bg-pumpkin,
a:hover.bg-pumpkin {
  background-color: #d35400;
}
.text-alizarin *,
.text-alizarin {
  color: #e74c3c;
}
.bg-alizarin,
a:hover.bg-alizarin {
  background-color: #e74c3c;
}
.text-pomegranate *,
.text-pomegranate {
  color: #c0392b;
}
.bg-pomegranate,
a:hover.bg-pomegranate {
  background-color: #c0392b;
}
.text-clouds *,
.text-clouds {
  color: #ecf0f1;
}
.bg-clouds,
a:hover.bg-clouds {
  background-color: #ecf0f1;
}
.text-silver *,
.text-silver {
  color: #bdc3c7;
}
.bg-silver,
a:hover.bg-silver {
  background-color: #bdc3c7;
}
.text-concrete *,
.text-concrete {
  color: #95a5a6;
}
.bg-concrete,
a:hover.bg-concrete {
  background-color: #95a5a6;
}
.text-asbestos *,
.text-asbestos {
  color: #7f8c8d;
}
.bg-asbestos,
a:hover.bg-asbestos {
  background-color: #7f8c8d;
}
.text-white *,
.text-white {
  color: #ffffff;
}
.bg-white,
a:hover.bg-white {
  background-color: #ffffff;
}
.text-brown *,
.text-brown {
  color: #666666;
}
.bg-brown,
a:hover.bg-brown {
  background-color: #666666;
}
.text-brown-black *,
.text-brown-black {
  color: #333333;
}
.bg-brown-black,
a:hover.bg-brown-black {
  background-color: #333333;
}
.text-black *,
.text-black {
  color: #000000;
}
.bg-black,
a:hover.bg-black {
  background-color: #000000;
}
/* #BREAK
================================================== */
* + .break,
* + .break-1,
* + .break-2,
* + .break-3,
* + .break-4,
* + .break-5,
* + .break-6,
* + .break-7,
* + .break-8 {
  margin-top: 15px;
}
.break {
  margin-bottom: 15px;
  border-color: #dfdfdf;
  border-top: 1px solid #dfdfdf;
}
.break-1 {
  border: 0;
  height: 1px;
  background: #333;
  background-image: -webkit-linear-gradient(left, #cccccc, #333333, #cccccc);
  background-image: -moz-linear-gradient(left, #cccccc, #333333, #cccccc);
  background-image: -ms-linear-gradient(left, #cccccc, #333333, #cccccc);
  background-image: -o-linear-gradient(left, #cccccc, #333333, #cccccc);
}
.break-2 {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.break-3 {
  border: 0;
  border-bottom: 1px dashed #dfdfdf;
}
.break-4 {
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
.break-5 {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.break-6 {
  height: 30px;
  border-style: solid;
  border-color: black;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}
.break-6:before {
  /* Not really supposed to work, but does */
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: black;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}
.break-7 {
  padding: 0;
  border: none;
  border-top: medium double #dfdfdf;
  color: #dfdfdf;
  text-align: center;
}
.break-7:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: white;
}
.break-8 {
  border: 0;
  height: 0;
  box-shadow: 0 0 10px 1px black;
}
/* #TABLE
================================================== */
* + .table {
  margin-top: 15px;
}
.table {
  width: 100%;
  margin-bottom: 15px;
}
.table caption,
.table tfoot {
  font-style: italic;
}
.table caption {
  text-align: left;
  color: #e5e5e5;
}
.table thead th {
  vertical-align: bottom;
  text-align: left;
}
.table th,
.table td {
  padding: 8px;
  border-bottom: 1px solid #e5e5e5;
}
.table.table-hover tbody tr:hover td {
  background: #F0F0CC;
}
.table.table-even tr:nth-of-type(even) {
  background: #eee;
}
.table .table-basic {
  background: #e5e5e5 !important;
}
.table .table-info {
  background: #2d7091 !important;
}
.table .table-success {
  background: #659f13 !important;
}
.table .table-warning {
  background: #e28327 !important;
}
.table .table-danger {
  background: #d85030 !important;
}
.table.table-border,
.table.table-border tfoot,
.table.table-border td,
.table.table-border thead th {
  border: 1px solid #e5e5e5;
}
/* Table Responsive */
@media (max-width: 480px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr,
  table caption {
    display: block;
  }
  thead tr,
  tfoot tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
    display: none;
  }
  td:before,
  td:after {
    display: block;
    white-space: nowrap;
  }
  td:before {
    content: attr(data-header);
    font-weight: bold;
  }
  td:after {
    content: attr(data-footer);
    font-style: italic;
  }
}
/* #BOX
================================================== */
.box {
  min-height: 100px;
  background: #ffffff;
  margin: 40px auto;
  border: 1px solid #dfdfdf;
  /* Effect 1 */
  /* Effect 2 */
  /* Effect 3 */
  /* Effect 4 */
  /* Effect 5 */
  /* Effect 6 */
  /* Effect 7 */
  /* Effect 8 */
}
.box.effect1 {
  -webkit-box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.25);
  box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.25);
}
.box.effect2 {
  position: relative;
}
.box.effect2:before,
.box.effect2:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.box.effect2:after {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}
.box.effect3 {
  position: relative;
}
.box.effect3:before {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.box.effect4 {
  position: relative;
}
.box.effect4:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  right: 10px;
  left: auto;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}
.box.effect5 {
  position: relative;
}
.box.effect5:before,
.box.effect5:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 25px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: #777;
  -webkit-box-shadow: 0 35px 20px #777;
  -moz-box-shadow: 0 35px 20px #777;
  box-shadow: 0 35px 20px #777;
  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  -o-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  transform: rotate(-8deg);
}
.box.effect5:after {
  -webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  -o-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  transform: rotate(8deg);
  right: 10px;
  left: auto;
}
.box.effect6 {
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.box.effect6:before,
.box.effect6:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  top: 50%;
  bottom: 0;
  left: 10px;
  right: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.box.effect6:after {
  right: 10px;
  left: auto;
  -webkit-transform: skew(8deg) rotate(3deg);
  -moz-transform: skew(8deg) rotate(3deg);
  -ms-transform: skew(8deg) rotate(3deg);
  -o-transform: skew(8deg) rotate(3deg);
  transform: skew(8deg) rotate(3deg);
}
.box.effect7 {
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.box.effect7:before,
.box.effect7:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  top: 0;
  bottom: 0;
  left: 10px;
  right: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.box.effect7:after {
  right: 10px;
  left: auto;
  -webkit-transform: skew(8deg) rotate(3deg);
  -moz-transform: skew(8deg) rotate(3deg);
  -ms-transform: skew(8deg) rotate(3deg);
  -o-transform: skew(8deg) rotate(3deg);
  transform: skew(8deg) rotate(3deg);
}
.box.effect8 {
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.box.effect8:before,
.box.effect8:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  top: 10px;
  bottom: 10px;
  left: 0;
  right: 0;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.box.effect8:after {
  right: 10px;
  left: auto;
  -webkit-transform: skew(8deg) rotate(3deg);
  -moz-transform: skew(8deg) rotate(3deg);
  -ms-transform: skew(8deg) rotate(3deg);
  -o-transform: skew(8deg) rotate(3deg);
  transform: skew(8deg) rotate(3deg);
}
.box.effect9,
.box.effect9:before,
.box.effect9:after {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.1), 1px 1px 3px rgba(0, 0, 0, 0.2);
}
.box.effect9 {
  position: relative;
  padding: 2em;
  margin: 50px auto;
}
.box.effect9:before,
.box.effect9:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateZ(2.5deg);
  -o-transform: rotate(2.5deg);
  transform: rotateZ(2.5deg);
  z-index: -1;
}
.box.effect9:after {
  -webkit-transform: rotateZ(-2.5deg);
  -o-transform: rotate(-2.5deg);
  transform: rotateZ(-2.5deg);
}
/* #IMAGE EFECT
================================================== */
.filter-grayscale {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
  -ms-filter: grayscale(1);
}
.filter-blur {
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
}
.filter-saturate {
  filter: saturate(500%);
  -webkit-filter: saturate(500%);
  -moz-filter: saturate(500%);
  -o-filter: saturate(500%);
  -ms-filter: saturate(500%);
}
.filter-sepia {
  filter: sepia(1);
  -webkit-filter: sepia(1);
  -moz-filter: sepia(1);
  -o-filter: sepia(1);
  -ms-filter: sepia(1);
}
.filter-hue-rotate {
  filter: hue-rotate(180deg);
  -webkit-filter: hue-rotate(180deg);
  -moz-filter: hue-rotate(180deg);
  -o-filter: hue-rotate(180deg);
  -ms-filter: hue-rotate(180deg);
}
.filter-invert {
  filter: invert(1);
  -webkit-filter: invert(1);
  -moz-filter: invert(1);
  -o-filter: invert(1);
  -ms-filter: invert(1);
}
.filter-brightness {
  filter: brightness(50%);
  -webkit-filter: brightness(50%);
  -moz-filter: brightness(50%);
  -o-filter: brightness(50%);
  -ms-filter: brightness(50%);
}
.filter-contrast {
  filter: contrast(0.3);
  -webkit-filter: contrast(0.3);
  -moz-filter: contrast(0.3);
  -o-filter: contrast(0.3);
  -ms-filter: contrast(0.3);
}
/* #RIBBON
================================================== */
.ribbon-box {
  margin: 0 auto;
}
.ribbon {
  width: calc(96%);
  margin: 0 auto;
  position: relative;
  text-align: center;
  background: #2E8DEF;
  padding: 1px 0;
  margin-bottom: 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
  /* Type */
  /* Big */
  /*Theme blue*/
}
.ribbon.ribbon-fix {
  width: calc(101.6%);
  left: -0.8em;
}
.ribbon.ribbon-auto {
  width: 100%;
}
.ribbon h3 {
  font-size: 1em;
  color: #fff;
  text-shadow: #006ABD 0 1px 0;
  margin: 0px;
  padding: 0.5em 20px;
}
.ribbon:before,
.ribbon:after {
  content: '';
  position: absolute;
  display: block;
  bottom: -0.8em;
  border: 1.4em solid #2E8DEF;
  /* Note */
  z-index: -1;
}
.ribbon:before {
  left: -2em;
  /* border-right-width: 1.5em;  */
  border-left-color: transparent;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
}
.ribbon:after {
  right: -2em;
  /* border-left-width: 1.5em;  */
  border-right-color: transparent;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) -1px 1px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) -1px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.4) -1px 1px 1px;
}
.ribbon .ribbon-content:before,
.ribbon .ribbon-content:after {
  border-color: #0054AA transparent transparent transparent;
  position: absolute;
  display: block;
  border-style: solid;
  bottom: -0.8em;
  content: '';
}
.ribbon .ribbon-content:before {
  left: 0;
  border-width: 0.8em 0 0 0.8em;
}
.ribbon .ribbon-content:after {
  right: 0;
  border-width: 0.8em 0.8em 0 0;
}
.ribbon .ribbon-stitches-top {
  margin-top: 2px;
}
.ribbon .ribbon-stitches-bottom {
  margin-bottom: 2px;
}
.ribbon.ribbon-noleft:before {
  display: none;
}
.ribbon.ribbon-noright:after {
  display: none;
}
.ribbon.ribbon-noarrowleft {
  width: 100%;
}
.ribbon.ribbon-noarrowright {
  width: 100%;
}
.ribbon.ribbon-fix.ribbon-noarrowleft {
  width: calc(100.8%);
  left: -0.8em;
}
.ribbon.ribbon-fix.ribbon-noarrowright {
  width: calc(100.8%);
  left: 0;
}
.ribbon.ribbon-noarrowleft .ribbon-content:after {
  display: none;
}
.ribbon.ribbon-noarrowright .ribbon-content:before {
  display: none;
}
.ribbon.ribbon-big {
  width: calc(95.2%);
  padding: 1px 0;
  margin-bottom: 20px;
}
.ribbon.ribbon-big.ribbon-fix {
  width: calc(102.4%);
  left: -1.2em;
}
.ribbon.ribbon-big.ribbon-auto {
  width: 100%;
}
.ribbon.ribbon-big h3 {
  font-size: 1.5em;
  margin: 0px;
  padding: 0.5em 20px;
}
.ribbon.ribbon-big:before,
.ribbon.ribbon-big:after {
  bottom: -1.2em;
  border: 1.8em solid #2E8DEF;
  /* Note */
}
.ribbon.ribbon-big:before {
  left: -2.4em;
  border-left-color: transparent;
}
.ribbon.ribbon-big:after {
  right: -2.4em;
  border-right-color: transparent;
}
.ribbon.ribbon-big .ribbon-content:before,
.ribbon.ribbon-big .ribbon-content:after {
  bottom: -1.2em;
}
.ribbon.ribbon-big .ribbon-content:before {
  border-width: 1.2em 0 0 1.2em;
}
.ribbon.ribbon-big .ribbon-content:after {
  border-width: 1.2em 1.2em 0 0;
}
.ribbon.themeblue {
  background: -webkit-gradient(linear, left top, left bottom, from(#2e8def), to(#006abd));
  background: -webkit-linear-gradient(top, #2e8def, #006abd);
  background: -moz-linear-gradient(top, #2e8def, #006abd);
  background: -ms-linear-gradient(top, #2e8def, #006abd);
  background: -o-linear-gradient(top, #2e8def, #006abd);
  background-image: -ms-linear-gradient(top, #2e8def 0%, #006abd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr="#2E8DEF", EndColorStr="#006ABD");
}
.ribbon.themeblue .ribbon-stitches-top {
  margin-top: 2px;
  border-top: 1px dashed rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
}
.ribbon.themeblue .ribbon-stitches-bottom {
  margin-bottom: 2px;
  border-top: 1px dashed rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);
}
/* #LIST
================================================== */
.list {
  padding: 0;
}
.list.list-basic,
.list.list-basic ul,
.list.list-basic ol {
  margin: 0 0 0 25px;
  padding: 0;
}
.list.list-basic li {
  list-style-type: disc;
}
.list.list-basic ul li,
.list.list-basic ol li {
  list-style-type: circle;
}
.list.list-number,
.list.list-number ul,
.list.list-number ol {
  margin: 0 0 0 25px;
  padding: 0;
}
.list.list-number li {
  list-style-type: decimal;
}
.list.list-number ul li,
.list.list-number ol li {
  list-style-type: decimal;
}
.list.list-asterisks,
.list.list-asterisks ul,
.list.list-asterisks ol {
  margin: 0 0 0 25px;
  padding: 0;
}
.list.list-asterisks li {
  list-style-type: asterisks;
}
.list.list-asterisks ul li,
.list.list-asterisks ol li {
  list-style-type: asterisks;
}
.list.list-upperroman,
.list.list-upperroman ul,
.list.list-upperroman ol {
  margin: 0 0 0 25px;
  padding: 0;
}
.list.list-upperroman li,
.list.list-upperroman ul li {
  list-style-type: upper-roman;
}
.list.list-upperroman ol li {
  list-style-type: lower-roman;
}
.list.list-norwegian,
.list.list-norwegian ul,
.list.list-norwegian ol {
  margin: 0 0 0 25px;
  padding: 0;
}
.list.list-norwegian li,
.list.list-norwegian ul li {
  list-style-type: upper-norwegian;
}
.list.list-norwegian ol li {
  list-style-type: lower-norwegian;
}
.list.list-square,
.list.list-square ul,
.list.list-square ol {
  margin: 0 0 0 25px;
  padding: 0;
}
.list.list-square li {
  list-style-type: square;
}
.list.list-square ul li,
.list.list-square ol li {
  list-style-type: circle;
}
/*Description list*/
.description-list-horizontal > dt {
  width: 160px;
  float: left;
  clear: both;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.description-list-horizontal > dd {
  margin-left: 180px;
}
.description-list-line > dt {
  font-weight: 120%;
}
.description-list-line > dd {
  color: #999999;
}
.description-list-line > dt:nth-child(n+2) {
  margin-top: 5px;
  padding-top: 5px;
  border-top: 1px solid #E5E5E5;
}
/* Responsive Desc */
@media only screen and (max-width: 479px) {
  .description-list-horizontal > dt {
    display: block;
    float: none;
    width: 100%;
    margin-bottom: 5px;
  }
  .description-list-horizontal > dd {
    display: block;
    margin-left: 0;
    margin-bottom: 5px;
  }
}
/* #Clearing
================================================== */
.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.row:after,
.clearfix:after {
  clear: both;
}
.row,
.clearfix {
  zoom: 1;
}
.clear {
  clear: both;
  display: block;
}
/* #Margin
================================================== */
.mrt0 {
  margin-top: 0px;
}
.mrt5 {
  margin-top: 5px;
}
.mrt10 {
  margin-top: 10px;
}
.mrt15 {
  margin-top: 15px;
}
.mrt20 {
  margin-top: 20px;
}
.mrt25 {
  margin-top: 25px;
}
.mrt30 {
  margin-top: 30px;
}
.mrt35 {
  margin-top: 35px;
}
.mrt40 {
  margin-top: 40px;
}
.mrt45 {
  margin-top: 45px;
}
.mrt50 {
  margin-top: 50px;
}
.mrt55 {
  margin-top: 55px;
}
.mrt60 {
  margin-top: 60px;
}
.mrt65 {
  margin-top: 65px;
}
.mrt70 {
  margin-top: 70px;
}
.mrt75 {
  margin-top: 75px;
}
.mrt80 {
  margin-top: 80px;
}
.mrt85 {
  margin-top: 85px;
}
.mrt90 {
  margin-top: 90px;
}
.mrt95 {
  margin-top: 95px;
}
.mrt100 {
  margin-top: 100px;
}
.mrt105 {
  margin-top: 105px;
}
.mrt110 {
  margin-top: 110px;
}
.mrt115 {
  margin-top: 115px;
}
.mrt120 {
  margin-top: 120px;
}
.mrt125 {
  margin-top: 125px;
}
.mrt130 {
  margin-top: 130px;
}
.mrt135 {
  margin-top: 135px;
}
.mrt140 {
  margin-top: 140px;
}
.mrt145 {
  margin-top: 145px;
}
.mrt150 {
  margin-top: 150px;
}
.mrt155 {
  margin-top: 155px;
}
.mrt160 {
  margin-top: 160px;
}
.mrt165 {
  margin-top: 165px;
}
.mrt170 {
  margin-top: 170px;
}
.mrt175 {
  margin-top: 175px;
}
.mrt180 {
  margin-top: 180px;
}
.mrt185 {
  margin-top: 185px;
}
.mrt190 {
  margin-top: 190px;
}
.mrt195 {
  margin-top: 195px;
}
.mrt200 {
  margin-top: 200px;
}
.mrt205 {
  margin-top: 205px;
}
.mrt210 {
  margin-top: 210px;
}
.mrt215 {
  margin-top: 215px;
}
.mrt220 {
  margin-top: 220px;
}
.mrt225 {
  margin-top: 225px;
}
.mrt230 {
  margin-top: 230px;
}
.mrt235 {
  margin-top: 235px;
}
.mrt240 {
  margin-top: 240px;
}
.mrt245 {
  margin-top: 245px;
}
.mrt250 {
  margin-top: 250px;
}
.mrb0 {
  margin-bottom: 0px;
}
.mrb5 {
  margin-bottom: 5px;
}
.mrb10 {
  margin-bottom: 10px;
}
.mrb15 {
  margin-bottom: 15px;
}
.mrb20 {
  margin-bottom: 20px;
}
.mrb25 {
  margin-bottom: 25px;
}
.mrb30 {
  margin-bottom: 30px;
}
.mrb35 {
  margin-bottom: 35px;
}
.mrb40 {
  margin-bottom: 40px;
}
.mrb45 {
  margin-bottom: 45px;
}
.mrb50 {
  margin-bottom: 50px;
}
.mrb55 {
  margin-bottom: 55px;
}
.mrb60 {
  margin-bottom: 60px;
}
.mrb65 {
  margin-bottom: 65px;
}
.mrb70 {
  margin-bottom: 70px;
}
.mrb75 {
  margin-bottom: 75px;
}
.mrb80 {
  margin-bottom: 80px;
}
.mrb85 {
  margin-bottom: 85px;
}
.mrb90 {
  margin-bottom: 90px;
}
.mrb95 {
  margin-bottom: 95px;
}
.mrb100 {
  margin-bottom: 100px;
}
.mrb105 {
  margin-bottom: 105px;
}
.mrb110 {
  margin-bottom: 110px;
}
.mrb115 {
  margin-bottom: 115px;
}
.mrb120 {
  margin-bottom: 120px;
}
.mrb125 {
  margin-bottom: 125px;
}
.mrb130 {
  margin-bottom: 130px;
}
.mrb135 {
  margin-bottom: 135px;
}
.mrb140 {
  margin-bottom: 140px;
}
.mrb145 {
  margin-bottom: 145px;
}
.mrb150 {
  margin-bottom: 150px;
}
.mrb155 {
  margin-bottom: 155px;
}
.mrb160 {
  margin-bottom: 160px;
}
.mrb165 {
  margin-bottom: 165px;
}
.mrb170 {
  margin-bottom: 170px;
}
.mrb175 {
  margin-bottom: 175px;
}
.mrb180 {
  margin-bottom: 180px;
}
.mrb185 {
  margin-bottom: 185px;
}
.mrb190 {
  margin-bottom: 190px;
}
.mrb195 {
  margin-bottom: 195px;
}
.mrb200 {
  margin-bottom: 200px;
}
.mrb205 {
  margin-bottom: 205px;
}
.mrb210 {
  margin-bottom: 210px;
}
.mrb215 {
  margin-bottom: 215px;
}
.mrb220 {
  margin-bottom: 220px;
}
.mrb225 {
  margin-bottom: 225px;
}
.mrb230 {
  margin-bottom: 230px;
}
.mrb235 {
  margin-bottom: 235px;
}
.mrb240 {
  margin-bottom: 240px;
}
.mrb245 {
  margin-bottom: 245px;
}
.mrb250 {
  margin-bottom: 250px;
}
/* #Padding
================================================== */
.pdt0 {
  padding-top: 0px;
}
.pdt5 {
  padding-top: 5px;
}
.pdt10 {
  padding-top: 10px;
}
.pdt15 {
  padding-top: 15px;
}
.pdt20 {
  padding-top: 20px;
}
.pdt25 {
  padding-top: 25px;
}
.pdt30 {
  padding-top: 30px;
}
.pdt35 {
  padding-top: 35px;
}
.pdt40 {
  padding-top: 40px;
}
.pdt45 {
  padding-top: 45px;
}
.pdt50 {
  padding-top: 50px;
}
.pdt55 {
  padding-top: 55px;
}
.pdt60 {
  padding-top: 60px;
}
.pdt65 {
  padding-top: 65px;
}
.pdt70 {
  padding-top: 70px;
}
.pdt75 {
  padding-top: 75px;
}
.pdt80 {
  padding-top: 80px;
}
.pdt85 {
  padding-top: 85px;
}
.pdt90 {
  padding-top: 90px;
}
.pdt95 {
  padding-top: 95px;
}
.pdt100 {
  padding-top: 100px;
}
.pdt105 {
  padding-top: 105px;
}
.pdt110 {
  padding-top: 110px;
}
.pdt115 {
  padding-top: 115px;
}
.pdt120 {
  padding-top: 120px;
}
.pdt125 {
  padding-top: 125px;
}
.pdt130 {
  padding-top: 130px;
}
.pdt135 {
  padding-top: 135px;
}
.pdt140 {
  padding-top: 140px;
}
.pdt145 {
  padding-top: 145px;
}
.pdt150 {
  padding-top: 150px;
}
.pdt155 {
  padding-top: 155px;
}
.pdt160 {
  padding-top: 160px;
}
.pdt165 {
  padding-top: 165px;
}
.pdt170 {
  padding-top: 170px;
}
.pdt175 {
  padding-top: 175px;
}
.pdt180 {
  padding-top: 180px;
}
.pdt185 {
  padding-top: 185px;
}
.pdt190 {
  padding-top: 190px;
}
.pdt195 {
  padding-top: 195px;
}
.pdt200 {
  padding-top: 200px;
}
.pdt205 {
  padding-top: 205px;
}
.pdt210 {
  padding-top: 210px;
}
.pdt215 {
  padding-top: 215px;
}
.pdt220 {
  padding-top: 220px;
}
.pdt225 {
  padding-top: 225px;
}
.pdt230 {
  padding-top: 230px;
}
.pdt235 {
  padding-top: 235px;
}
.pdt240 {
  padding-top: 240px;
}
.pdt245 {
  padding-top: 245px;
}
.pdt250 {
  padding-top: 250px;
}
.pdb0 {
  padding-bottom: 0px;
}
.pdb5 {
  padding-bottom: 5px;
}
.pdb10 {
  padding-bottom: 10px;
}
.pdb15 {
  padding-bottom: 15px;
}
.pdb20 {
  padding-bottom: 20px;
}
.pdb25 {
  padding-bottom: 25px;
}
.pdb30 {
  padding-bottom: 30px;
}
.pdb35 {
  padding-bottom: 35px;
}
.pdb40 {
  padding-bottom: 40px;
}
.pdb45 {
  padding-bottom: 45px;
}
.pdb50 {
  padding-bottom: 50px;
}
.pdb55 {
  padding-bottom: 55px;
}
.pdb60 {
  padding-bottom: 60px;
}
.pdb65 {
  padding-bottom: 65px;
}
.pdb70 {
  padding-bottom: 70px;
}
.pdb75 {
  padding-bottom: 75px;
}
.pdb80 {
  padding-bottom: 80px;
}
.pdb85 {
  padding-bottom: 85px;
}
.pdb90 {
  padding-bottom: 90px;
}
.pdb95 {
  padding-bottom: 95px;
}
.pdb100 {
  padding-bottom: 100px;
}
.pdb105 {
  padding-bottom: 105px;
}
.pdb110 {
  padding-bottom: 110px;
}
.pdb115 {
  padding-bottom: 115px;
}
.pdb120 {
  padding-bottom: 120px;
}
.pdb125 {
  padding-bottom: 125px;
}
.pdb130 {
  padding-bottom: 130px;
}
.pdb135 {
  padding-bottom: 135px;
}
.pdb140 {
  padding-bottom: 140px;
}
.pdb145 {
  padding-bottom: 145px;
}
.pdb150 {
  padding-bottom: 150px;
}
.pdb155 {
  padding-bottom: 155px;
}
.pdb160 {
  padding-bottom: 160px;
}
.pdb165 {
  padding-bottom: 165px;
}
.pdb170 {
  padding-bottom: 170px;
}
.pdb175 {
  padding-bottom: 175px;
}
.pdb180 {
  padding-bottom: 180px;
}
.pdb185 {
  padding-bottom: 185px;
}
.pdb190 {
  padding-bottom: 190px;
}
.pdb195 {
  padding-bottom: 195px;
}
.pdb200 {
  padding-bottom: 200px;
}
.pdb205 {
  padding-bottom: 205px;
}
.pdb210 {
  padding-bottom: 210px;
}
.pdb215 {
  padding-bottom: 215px;
}
.pdb220 {
  padding-bottom: 220px;
}
.pdb225 {
  padding-bottom: 225px;
}
.pdb230 {
  padding-bottom: 230px;
}
.pdb235 {
  padding-bottom: 235px;
}
.pdb240 {
  padding-bottom: 240px;
}
.pdb245 {
  padding-bottom: 245px;
}
.pdb250 {
  padding-bottom: 250px;
}
.pd0 {
  padding: 0px;
}
.pd5 {
  padding: 5px;
}
.pd10 {
  padding: 10px;
}
.pd15 {
  padding: 15px;
}
.pd20 {
  padding: 20px;
}
.pd25 {
  padding: 25px;
}
.pd30 {
  padding: 30px;
}
.pd35 {
  padding: 35px;
}
.pd40 {
  padding: 40px;
}
.pd45 {
  padding: 45px;
}
.pd50 {
  padding: 50px;
}
.pd55 {
  padding: 55px;
}
.pd60 {
  padding: 60px;
}
.pd65 {
  padding: 65px;
}
.pd70 {
  padding: 70px;
}
.pd75 {
  padding: 75px;
}
.pd80 {
  padding: 80px;
}
.pd85 {
  padding: 85px;
}
.pd90 {
  padding: 90px;
}
.pd95 {
  padding: 95px;
}
.pd100 {
  padding: 100px;
}
.pd105 {
  padding: 105px;
}
.pd110 {
  padding: 110px;
}
.pd115 {
  padding: 115px;
}
.pd120 {
  padding: 120px;
}
.pd125 {
  padding: 125px;
}
.pd130 {
  padding: 130px;
}
.pd135 {
  padding: 135px;
}
.pd140 {
  padding: 140px;
}
.pd145 {
  padding: 145px;
}
.pd150 {
  padding: 150px;
}
.pd155 {
  padding: 155px;
}
.pd160 {
  padding: 160px;
}
.pd165 {
  padding: 165px;
}
.pd170 {
  padding: 170px;
}
.pd175 {
  padding: 175px;
}
.pd180 {
  padding: 180px;
}
.pd185 {
  padding: 185px;
}
.pd190 {
  padding: 190px;
}
.pd195 {
  padding: 195px;
}
.pd200 {
  padding: 200px;
}
.pd205 {
  padding: 205px;
}
.pd210 {
  padding: 210px;
}
.pd215 {
  padding: 215px;
}
.pd220 {
  padding: 220px;
}
.pd225 {
  padding: 225px;
}
.pd230 {
  padding: 230px;
}
.pd235 {
  padding: 235px;
}
.pd240 {
  padding: 240px;
}
.pd245 {
  padding: 245px;
}
.pd250 {
  padding: 250px;
}
a {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
*:hover {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
*:focus,
link:focus,
a:focus {
  outline: none !important;
  border: 0;
}
