/* Less Function
>> IMG
data-uri('image/jpeg;base64','../data/image.jpg'); 

>> MIXIN
.boxshw, #boxshw {
  box-shadow: inset 0 0 10px #555;
}
.my-other-mixin() {
  background: white;
}
.myclass {
  .boxshw;
  .my-other-mixin();
}

*/
/* #OPACITY*/
/* RESPONSIVE ///////////////////////////////////////////////////////////////////////////////////////////////// */
/* Mobile Layout:480px and below (default). */
/* Small devices (tablets, 768px and up) */
@media (min-width: 767px) {
  /*Header*/
  #header nav .navbar-collapse {
    margin: 50px 50px 0 50px;
  }
  #header nav .navbar-collapse:before,
  #header nav .navbar-collapse:after {
    position: absolute;
    top: 0;
  }
  #header nav .navbar-collapse:before {
    background: url('../images/menu_left.png') top no-repeat;
    width: 39px;
    height: 65px;
    left: -24px;
  }
  #header nav .navbar-collapse:after {
    background: url('../images/menu_right.png') top no-repeat;
    width: 39px;
    height: 65px;
    right: -24px;
  }
  #header nav .navbar-collapse .nav {
    width: 100%;
    text-align: center;
    background: url('../images/menu_bg.png') repeat-x;
    height: 65px;
  }
  #header nav .navbar-collapse .nav li {
    float: none;
    display: inline-block;
    margin: 0 10px;
  }
  #header nav .navbar-collapse .nav li.logo {
    width: 114px;
    position: relative;
    margin: 0 5px;
  }
  #header nav .navbar-collapse .nav li.logo img {
    width: 100%;
  }
  #header nav .navbar-collapse .nav li.logo a {
    padding: 0;
    margin: 0;
    position: absolute;
    top: -47px;
  }
  #header nav .navbar-collapse .nav li.logo a:hover {
    background: none;
  }
  #header nav .navbar-collapse .nav li.logo a:hover:before,
  #header nav .navbar-collapse .nav li.logo a:hover:after {
    display: none;
  }
  #header nav .navbar-collapse .nav li a {
    margin: 9px 0 0 0;
    line-height: 34px;
    padding: 0 5px;
  }
  #header nav .navbar-collapse .nav li a:hover,
  #header nav .navbar-collapse .nav li a.active {
    background: url('../images/menu_bg_hoverlink.png') repeat-x;
    color: #ffdf2f;
  }
  #header nav .navbar-collapse .nav li a:hover:before,
  #header nav .navbar-collapse .nav li a.active:before {
    bottom: 0;
    left: -11px;
    content: " ";
    height: 100%;
    width: 11px;
    position: absolute;
    background: url('../images/menu_bg_hover_left.png') no-repeat;
  }
  #header nav .navbar-collapse .nav li a:hover:after,
  #header nav .navbar-collapse .nav li a.active:after {
    bottom: 0;
    right: -11px;
    content: " ";
    height: 100%;
    width: 11px;
    position: absolute;
    background: url('../images/menu_bg_hover_right.png') no-repeat;
  }
  #header .tel {
    display: block;
    position: absolute;
    margin-top: -40px;
    right: 40px;
    top: 0;
  }
  #header .tel ul {
    text-align: right;
  }
  .products .daigiadinh {
    height: 253px;
  }
  .products .listproducts div.dgd01 {
    height: 80px;
  }
  .products .listproducts div.dgd01 span {
    height: 80px;
    right: 30%;
    top: -30%;
  }
  .products .listproducts div.dgd01 span img {
    height: 110px;
  }
  .products .listproducts div.dgd02 {
    height: 90px;
  }
  .products .listproducts div.dgd02 span {
    height: 90px;
    left: 24%;
    top: -23%;
  }
  .products .listproducts div.dgd02 span img {
    height: 130px;
  }
  .products .listproducts div.dgd03 {
    height: 110px;
  }
  .products .listproducts div.dgd03 span {
    height: 110px;
    left: 61%;
    top: -38%;
  }
  .products .listproducts div.dgd03 span img {
    height: 160px;
  }
  .products .listproducts div.dgd04 {
    height: 125px;
  }
  .products .listproducts div.dgd04 span {
    height: 125px;
    left: 21%;
    top: -38%;
  }
  .products .listproducts div.dgd04 span img {
    height: 165px;
  }
  .products .listproducts div.dgd05 {
    height: 95px;
  }
  .products .listproducts div.dgd05 span {
    height: 95px;
    left: 48%;
    top: -38%;
  }
  .products .listproducts div.dgd05 span img {
    height: 215px;
  }
  .products .daigiadinh {
    height: 253px;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  .index .iconhome {
    display: block;
  }
  .index #indexslider .tp-bullets {
    display: block;
    top: 140px;
  }
  .index #indexslider .tparrows {
    display: block;
  }
  .index #indexslider .tp-banner .food img {
    width: initial !important;
    height: initial !important;
  }
  .news {
    background-position: 50% 0%;
  }
  /*products*/
  .product-detail-page .modal .modal-dialog {
    width: 450px;
  }
  .promotion_details .tablepro .content {
    padding: 0 250px 30px 70px;
  }
  .promotion_details .tablepro .bottom .girl {
    bottom: 78%;
    right: -43px;
    width: 33%;
    z-index: 20;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 991px) {
  #header nav .navbar-collapse .nav li.logo {
    width: 110px;
    margin: 0 30px;
  }
  #header nav .navbar-collapse .nav li.logo a {
    top: -44px;
  }
  #header nav .navbar-collapse .nav li a {
    padding: 0 20px;
  }
  #header .tel {
    margin-top: 10px;
  }
  /*products*/
  .product-detail-page .modal .modal-dialog {
    width: 900px;
  }
  .product-detail-page .modal .modal-body {
    position: relative;
    padding: 0;
    background: url('../images/products_detail_bg.jpg') no-repeat 157% center;
    background-size: cover;
    height: 450px;
    max-height: 450px;
    overflow: hidden;
  }
  .news .newspager {
    text-align: center;
  }
  /*products*/
  .promotion .promotionlist {
    position: relative;
  }
  .promotion .promotionlist .dgd01 {
    margin: 0;
    min-height: 450px;
  }
  .promotion .promotionlist .dgd01 img {
    width: 55%;
    display: block;
  }
  .promotion .promotionlist .dgd02 {
    position: absolute;
    width: inherit;
    left: 33%;
    top: 14%;
  }
  .promotion .promotionlist .dgd03 {
    width: inherit;
    left: -2%;
    top: 12%;
    margin-top: 0;
  }
  .promotion .promotionlist .dgd03 img {
    width: 73%;
  }
  .promotion .promotionlist .dgd04 {
    width: 80%;
    text-align: right;
  }
  .promotion .promotionlist .dgd05 {
    width: 80%;
    right: 0;
  }
  .promotion .promotionlist .inbot {
    position: fixed;
    bottom: 0;
  }
  .promotion_details .tablepro .content {
    padding: 0 200px 30px 70px;
  }
  .promotion_details .tablepro .bottom .girl {
    bottom: 120px;
    right: -30px;
    width: 33%;
    z-index: 20;
  }
  #footer .copyright {
    text-align: right;
  }
  #footer .copyright img {
    padding-right: 30px;
  }
  .products #footer {
    display: block;
    z-index: 200;
    position: fixed;
    bottom: 20px;
    width: 100%;
  }
}
@media (min-width: 1023px) {
  .products .listproducts div {
    z-index: 200;
  }
  .products .listproducts div.dgd01 {
    height: 90px;
  }
  .products .listproducts div.dgd01 span {
    height: 90px;
    right: 25%;
    top: -38%;
  }
  .products .listproducts div.dgd01 span img {
    height: 90px;
  }
  .products .listproducts div.dgd02 {
    height: 100px;
  }
  .products .listproducts div.dgd02 span {
    height: 110px;
    left: 51%;
    top: -97%;
  }
  .products .listproducts div.dgd02 span img {
    height: 110px;
  }
  .products .listproducts div.dgd03 {
    height: 100px;
  }
  .products .listproducts div.dgd03 span {
    height: 130px;
    left: 36%;
    top: -160%;
  }
  .products .listproducts div.dgd03 span img {
    height: 130px;
  }
  .products .listproducts div.dgd04 {
    height: 100px;
  }
  .products .listproducts div.dgd04 span {
    height: 140px;
    left: 32%;
    top: -148%;
  }
  .products .listproducts div.dgd04 span img {
    height: 140px;
  }
  .products .listproducts div.dgd05 {
    height: 100px;
  }
  .products .listproducts div.dgd05 span {
    height: 160px;
    left: 47%;
    top: -170%;
  }
  .products .listproducts div.dgd05 span img {
    height: 160px;
  }
  .products .daigiadinh {
    height: 253px;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  /*products*/
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1199px) {
  #header nav .navbar-collapse .nav li.logo {
    margin: 0 50px;
    width: 125px;
  }
  #header nav .navbar-collapse .nav li.logo a {
    top: -50px;
  }
  #header nav .navbar-collapse .nav li a {
    padding: 0 30px;
  }
  /*products*/
  .product-detail-page .thumbnails li {
    margin: 0 3px 0 3px;
  }
  /*products*/
  .products .daigiadinh {
    height: 253px;
    width: 100%;
  }
  .promotion_details .tablepro .content {
    padding: 0 250px 30px 70px;
  }
  .promotion_details .tablepro .bottom .girl {
    bottom: 149px;
    right: -34px;
    width: 33%;
    z-index: 20;
  }
}
@media (min-width: 1840px) {
  /*products*/
  .products .listproducts div {
    z-index: 200;
  }
  .products .listproducts div.dgd01 {
    height: 90px;
  }
  .products .listproducts div.dgd01 span {
    height: 90px;
    right: 25%;
    top: -38%;
  }
  .products .listproducts div.dgd01 span img {
    height: 90px;
  }
  .products .listproducts div.dgd02 {
    height: 100px;
  }
  .products .listproducts div.dgd02 span {
    height: 110px;
    left: 51%;
    top: -71%;
  }
  .products .listproducts div.dgd02 span img {
    height: 110px;
  }
  .products .listproducts div.dgd03 {
    height: 100px;
  }
  .products .listproducts div.dgd03 span {
    height: 150px;
    left: 36%;
    top: -105%;
  }
  .products .listproducts div.dgd03 span img {
    height: 150px;
  }
  .products .listproducts div.dgd04 {
    height: 100px;
  }
  .products .listproducts div.dgd04 span {
    height: 140px;
    left: 30%;
    top: -30%;
  }
  .products .listproducts div.dgd04 span img {
    height: 140px;
  }
  .products .listproducts div.dgd05 {
    height: 100px;
  }
  .products .listproducts div.dgd05 span {
    height: 160px;
    left: 44%;
    top: 14%;
  }
  .products .listproducts div.dgd05 span img {
    height: 160px;
  }
  .products .daigiadinh {
    height: 253px;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}
/* PRINT ///////////////////////////////////////////////////////////////////////////////////////////////// */
